{% extends 'dashboard-admin/dashboard.html' %}
{% load static %}

{% block content %}
<main>
<div class="dashboard">
	<div class="content">
		<div class="cards">
			<div class="card">
				<div class="content">
					<div class="pric">
						<h3>{{TOTAL_NET}} DH</h3>
						<p>REVENU NET TOTAL</p>
					</div>
					<i class="fa-solid fa-dollar-sign"></i>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="pric">
						<h3>{{total_packages}}</h3>
						<p>LES COLIES</p>
					</div>
					<i class="fa-solid fa-cube"></i>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="pric">
						<h3>{{MEN_DELIVERY}}</h3>
						<p>livraison hommes</p>
					</div>
					<i class="fa-solid fa-people-group"></i>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="pric">
						<h3>{{TOTAL_PACKAGE_DELIVERED}}</h3>
						<p>colis livrés</p>
					</div>
					<i class="fa-solid fa-truck-ramp-box"></i>
				</div>
			</div>
		</div>
		<div class="block container text-center mt-5 ">
			<!-- packages -->
			<div class="row justify-content-between flex-wrap">
				<div class="show-data packages col-7 mt-5">
					<div class="top">
						<h1>packages</h1>
					</div>
					<div class="body">
						<div class="filter">
							<form action="" method="GET">
								<input oninput="searchId(idSearch='search-package', idClass='id-package')" type="search" name="search-package" id="search-package" placeholder="search with id">
							</form>
						</div>
						<div class="content">
							<div class="package">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<th scope="col">ID</th>
											<th scope="col">Client</th>
											<th scope="col">Etat</th>
											<th scope="col">City</th>
											<th scope="col">Date</th>
											<th scope="col">Actions</th>
										</tr>
									</thead>
									<tbody >
										{% for package in packages %}
										<tr>
											<th scope="row" data="{{package.id_package}}" class="id id-package" id="ind">{{package.id_package}}</th>
											<td>{{package.client_name}}</td>
											{% if package.etat == "Ramassée"%}
												<td><span class="badge text-bg-warning">{{package.etat}}</span></td>
												{% elif package.etat == "Annulée"%}
												<td><span class="badge text-bg-danger">{{package.etat}}</span></td>
												{% elif package.etat == "Livrée"%}
												<td><span class="badge text-bg-success">{{package.etat}}</span></td>
												{% elif package.etat == "Pas de réponse"%}
												<td><span class="badge text-bg-info">{{package.etat}}</span></td>
												{% else %}
												<td><span class="badge text-bg-dark">{{package.etat}}</span></td>
												{% endif %}
											<td>{{package.city}}</td>
											<td>{{package.date_created}}</td>
											<td>
												<a href="{% url 'edite_package' package.user.id package.id_package %}"><i class='bx bx-message-square-edit'></i></a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="show-data men-delivery col-4 mt-5 ">
					<div class="top">
						<h1>All Delivery</h1>
					</div>
					<div class="body">
						<div class="filter">
							<form action="" method="GET">
								<input type="search" name="search" id="search" placeholder="Search with username or company name">
							</form>
						</div>
						<div class="content">
							{% for item in data_admin %}
								{% for delivery in item.men_delivery.all %}
									<div class="user">
										<div class="info">
											<div class="logo">
												<img src="{% static 'img/profile/default_profile.png' %}" alt="">
											</div>
											<div class="username">
												<h4 class="name">{{delivery.user}}</h4>
												<p class="company-name">{{delivery.city}}</p>
											</div>
										</div>
										<div class="actions">
											<a href="{% url 'view_delivery' delivery.user.id %}"><i class='bx bx-show'></i></a>
										</div>
									</div>
								{% endfor %}
							{% endfor %}
						</div>
					</div>
					<!-- end packages -->
				</div>
			</div>
			<!-- end packages -->
			
		</div>
	</div>
</div>
</main>
{% endblock content %}
