{% extends 'dashboard-admin/dashboard.html' %}
{% load static %}

{% block content %}
<main>
	<div class="dashboard">
		<div class="content">
			<div class="cards ">
				<div class="card">
					<div class="content">
						<div class="pric">
							<h3>{{TOTAL_NET}} DH</h3>
							<p>REVENU NET TOTAL</p>
						</div>
						<i class="fa-solid fa-dollar-sign"></i>
					</div>
				</div>
				<div class="card">
					<div class="content">
						<div class="pric">
							<h3>
								{% if man_delivery %}
								{{man_delivery.0.set_packages.count}}
								{% else %}
								0
								{% endif %}
							</h3>
							<p>LES COLIES</p>
						</div>
						<i class="fa-solid fa-cube"></i>
					</div>
				</div>
				<div class="card">
					<div class="content">
						<div class="pric">
							<h3>{{TOTAL_PACKAGE_DELIVERED}}</h3>
							<p>colis livrés</p>
						</div>
						<i class="fa-solid fa-truck-ramp-box"></i>
					</div>
				</div>
			</div>
			<div class="block container text-center mt-5 ">
				<!-- packages -->
				<div class="row justify-content-between">
					<div class="show-data packages col-12 mt-5">
						<div class="top">
							<h1>packages</h1>
						</div>
						<div class="body">
							<div class="filter">
								<form action="" method="GET">
									<input oninput="searchId(idSearch='search-package', idClass='id-package')" type="search" name="search-package" id="search-package" placeholder="search with id">
								</form>
							</div>
							<div class="content">
								<div class="package">
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<th scope="col">ID</th>
												<th scope="col">Client</th>
												<th scope="col">Etat</th>
												<th scope="col">City</th>
												<th scope="col">Phone</th>
												<th scope="col">Date</th>
												<th scope="col">Actions</th>
											</tr>
										</thead>
										<tbody >
											{% for item in man_delivery %}
												{% for pack in item.set_packages.all %}
													<tr>
														<th scope="row" name="id_package" data="{{pack.id_package}}" class="id id-package" id="ind">{{pack.id_package}}</th>
														<td>{{pack.client_name}}</td>
														{% if pack.etat == "Ramassée"%}
															<td><span class="badge text-bg-warning">{{pack.etat}}</span></td>
														{% elif pack.etat == "Annulée"%}
															<td><span class="badge text-bg-danger">{{pack.etat}}</span></td>
														{% elif pack.etat == "Livrée"%}
															<td><span class="badge text-bg-success">{{pack.etat}}</span></td>
														{% elif pack.etat == "Pas de réponse"%}
															<td><span class="badge text-bg-info">{{pack.etat}}</span></td>
														{% else %}
															<td><span class="badge text-bg-dark">{{pack.etat}}</span></td>
														{% endif %}
														<td>{{pack.city}}</td>
														<td>{{pack.phone_number}}</td>
														<td>{{pack.date_created}}</td>
														<td>
															<a href="{% url 'edite_package_in_delivery' pack.user.id pack.id_package %}"><i class='bx bx-message-square-edit'></i></a>
														</td>
													</tr>
												{% endfor %}
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end packages -->
				
			</div>
		</div>
	</div>
</main>
{% endblock content %}	