{% extends 'dashboard-admin/dashboard.html' %}
{% load static %}

{% block content %}
	<div class="dashboard">
		<div class="content">
			<div class="cards ">
				<div class="card">
					<div class="content">
						<div class="pric">
							<h3>{{TOTAL_NET}} DH</h3>
							<p>REVENU NET TOTAL</p>
						</div>
						<i class="fa-solid fa-dollar-sign"></i>
					</div>
				</div>
				<div class="card">
					<div class="content">
						<div class="pric">
							<h3>
								{% if man_delivery %}
								{{man_delivery.0.set_packages.count}}
								{% else %}
								0
								{% endif %}
							</h3>
							<p>LES COLIES</p>
						</div>
						<i class="fa-solid fa-cube"></i>
					</div>
				</div>
				<div class="card">
					<div class="content">
						<div class="pric">
							<h3>{{TOTAL_PACKAGE_DELIVERED}}</h3>
							<p>colis livrés</p>
						</div>
						<i class="fa-solid fa-truck-ramp-box"></i>
					</div>
				</div>
			</div>
			<div class="block container text-center mt-5 ">
				<!-- packages -->
				<div class="row justify-content-between">
					<div class="show-data packages col-12 mt-5">
						<div class="top">
							<h1>packages</h1>
						</div>
						<div class="body">
							<div class="filter">
								<form action="" method="GET">
									<input oninput="searchId(idSearch='search-package', idClass='id-package')" type="search" name="search-package" id="search-package" placeholder="search with id">
								</form>
							</div>
							<div class="content">
								<div class="package">
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<th scope="col">ID</th>
												<th scope="col">Client</th>
												<th scope="col">Etat</th>
												<th scope="col">City</th>
												<th scope="col">Phone</th>
												<th scope="col">Date</th>
												<th scope="col">Actions</th>
											</tr>
										</thead>
										<form method='POST'>
											{% csrf_token %}
											<tbody >
												{% for item in man_delivery %}
													{% for pack in item.set_packages.all %}
														<tr>
															<th scope="row" name="id_package" data="{{pack.id_package}}" class="id id-package" id="ind">{{pack.id_package}}</th>
															<td hidden>
																<input type="text" name="id_package" class="form-control" value="{{pack.id_package}}">
																<input type="text" name="article_name" class="form-control" value="{{pack.article_name}}">
																<input type="text" name="city" class="form-control" value="{{pack.city}}">
																<input type="text" name="address" class="form-control" value="{{pack.address}}">
																<input type="text" name="remark" class="form-control" value="{{pack.remark}}">
																<input type="text" name="price" class="form-control" value="{{pack.price}}">
																<input type="text" name="phone_number" class="form-control" value="{{pack.phone_number}}">
																<input type="text" name="client_name" class="form-control" value="{{pack.client_name}}">
																<input type="text" name="date_created" class="form-control" value="{{pack.date_created}}">
																{% comment %} <input type="text" name="etat" class="form-control" value="{{pack.etat}}"> {% endcomment %}
																<input type="text" name="picked_up" class="form-control" value="{{pack.picked_up}}">
																<input type="text" name="withdrawn_canceled" class="form-control" value="{{pack.withdrawn_canceled}}">
																<input type="text" name="withdrawn_refused" class="form-control" value="{{pack.withdrawn_refused}}">
																<input type="text" name="withdrawn_livery" class="form-control" value="{{pack.withdrawn_livery}}">
																<input type="text" name="date_picked_up" class="form-control" value="{{pack.date_picked_up}}">
																<input type="text" name="user" class="form-control" value="{{pack.user.id}}">
															</td>
															<td>{{pack.client_name}}</td>
															<td>
																<select name="etat" class="form-select" id="autoSizingSelect">
																	{% if pack.etat == "Echange" %}
																	<option value="Echange" selected>Echange</option>
																	{% else %}
																	<option value="Echange">Echange</option>
																	{% endif %}
																	
																	{% if pack.etat == "Ramassée" %}
																	<option value="Ramassée" selected>Ramassée</option>
																	{% else %}
																	<option value="Ramassée">Ramassée</option>
																	{% endif %}

																	{% if pack.etat == "Annulée" %}
																	<option value="Annulée" selected>Annulée</option>
																	{% else %}
																	<option value="Annulée">Annulée</option>
																	{% endif %}
																	
																	{% if pack.etat == "Livrée" %}
																	<option value="Livrée" selected>Livrée</option>
																	{% else %}
																	<option value="Livrée">Livrée</option>
																	{% endif %}
																	
																	{% if pack.etat == "Refusée" %}
																	<option value="Refusée" selected>Refusée</option>
																	{% else %}
																	<option value="Refusée">Refusée</option>
																	{% endif %}
																	
																	{% if pack.etat == "Pas de réponse" %}
																	<option value="Pas de réponse" selected>Pas de réponse</option>
																	{% else %}
																	<option value="Pas de réponse">Pas de réponse</option>
																	{% endif %}
																	
																	{% if pack.etat == "Retournée/Annulée" %}
																	<option value="Retournée/Annulée" selected>Retournée/Annulée</option>
																	{% else %}
																	<option value="Retournée/Annulée">Retournée/Annulée</option>
																	{% endif %}
																	
																	{% if pack.etat == "Retoure/Echange" %}
																	<option value="Retoure/Echange" selected>Retoure/Echange</option>
																	{% else %}
																	<option value="Retoure/Echange">Retoure/Echange</option>
																	{% endif %}
																	
																	{% if pack.etat == "Retournée/Refusée" %}
																	<option value="Retournée/Refusée" selected>Retournée/Refusée</option>
																	{% else %}
																	<option value="Retournée/Refusée">Retournée/Refusée</option>
																	{% endif %}
																</select>
															</td>
															<td>{{pack.city}}</td>
															<td>{{pack.phone_number}}</td>
															<td>{{pack.date_created}}</td>
															<td>
																<button type="submit" class="btn btn-outline-success">Submit</button>
															</td>
														</tr>
														{% endfor %}
													{% endfor %}
											</tbody>
										</form>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end packages -->
				
			</div>
		</div>
	</div>
{% endblock content %}	