{% extends 'dashboard-admin/dashboard.html' %}
{% load static %}

{% block content %}
<main>
    <div class="dashboard">
        <div class="content">
            <div class="block container mt-5 ">
                <div class="row justify-content-center received">
                    <form class="row g-3 col-9" method="POST">
                        {% csrf_token %}
                        <div class="col-md-6 mb-4">
                            <label for="inputid" class="form-label">ID Received</label>
                            {{formReceived.received_id}}
                        </div>
                        <div class="col-md-6 mb-4">
                            <label for="inputarticle" class="form-label">Date Received</label>
                            {{formReceived.date_received}}
                        </div>
                        <div class="col-md-12 mb-4">
                            <label for="inputPackages" class="form-label">Packages</label>
                            {{formReceived.packages}}
                        </div>
                        <div class="col-md-6 mb-4">
                            <label for="inputTotalamount" class="form-label">Total amount</label>
                            {{formReceived.total_amount}}
                        </div>
                        <div class="col-6 mb-4">
                            <label for="inputTotalwithdrawn" class="form-label">Total withdrawn</label>
                            {{formReceived.total_withdrawn}}
                        </div>
                        <div class="col-6 mb-4">
                            <label for="inputReceived" class="form-label">Receive</label>
                            {{formReceived.receive}}
                        </div>
                        <div class="col-md-6 mb-4">
                            <label for="inputPickedup" class="form-label">Invoices</label>
                            {{formReceived.invoise}}
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-outline-success col-12">Edite</button>
                        </div>
                    </form>
                    <div class="row g-3 col-9 mt-4">
                        <div class="col-6">
                            <a href="{% url 'pdf_lables' received_update.user.id received_update.received_id%}"<button type="submit" class="btn btn-outline-primary col-12">Labels</button></a>
                        </div>
                        <div class="col-6">
                            <a href="#"><button type="submit" class="btn btn-outline-secondary col-12">Collection vouchers</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    const inputs = document.querySelectorAll("input");
    const selects = document.querySelectorAll("select")
    inputs.forEach(e => {
        e.classList.add("form-select")
    })
    selects.forEach(e => {
        e.classList.add("form-select")
    })
</script>

<script>
    $(document).ready(function () {
        $('#id_packages').selectize({
            sortField: 'text'
        });
    });
</script>
{% endblock content %}
