{% extends 'dashbord/dashbord.html' %}
{% load static %}


<main>
{% block content %}
    {% comment %} {% include 'dashbord/parts/navtop.html' %} {% endcomment %}
    <div class="get-data">
        <div class="content">

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" role="alert" style="text-align: center;">
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</div>
            </div>
            {% endfor %}
            {% endif %}

            <form method = "POST">
                {% csrf_token %}
                <div class="submit">
                    <input type="submit" name="submit" value="Créer le bon"/>
                </div>
                <div class="table-content">
                    <table class="table table-bordered  align-middle">
                        <thead>
                        <tr>
                            <th scope="col">
                                <input type="checkbox" name="pickup-check-all"/>
                            </th>
                            <th scope="col">ID</th>
                            <th scope="col">Article</th>
                            <th scope="col">État</th>
                            <th scope="col">Prix(DH)</th>
                            <th scope="col">Tél</th>
                            <th scope="col">Ville</th>
                            <th scope="col">Nom du client</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                        {% for item in packagePickup %}
                        <tr>
                            <td>
                                <input type="checkbox" name="pickup-check" value="{{item.id_package}}"/>
                            </td>
                            <td class="id"> {{item.id_package}} </td>
                            <td>{{item.article_name}}</td>
                            <td>{{item.etat}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.phone_number}}</td>
                            <td>{{item.city}}</td>
                            <td>{{item.client_name}}</td>
                        </tr>
                        {% endfor %}
                        {{picked_up_form}}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static "js/pickup.js" %}"></script>
{% endblock content %}
</main>