.form-login {
    height: 100vh;
    width: 100%;
    .content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row-reverse;
        .form-content {
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
            .alert-success {
                width: 55%;
                margin: 5px auto;
            }
            form {
                h2 {
                    margin: 0px auto 20px;
                    text-transform: uppercase;
                    color: $textPurple;
                    font-size: 35px;
                    border-bottom: $border;
                    width: fit-content;
                }
                width: 55%;
                padding: 27px;
                border-radius: 10px;
                box-shadow: $shadow;
                background-color: $backgroundLight;
                margin: 0 auto;
                input {
                    width: 100%;
                    padding: 8px 15px;
                    border-radius: 6px;
                    outline: none;
                    border: $borderDecoration;
                    margin-bottom: 25px;
                    margin-top: 5px;
                }
                #button {
                    width: 100%;
                    padding: 10px;
                    border: none;
                    border-radius: 8px;
                    font-size: 18px;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    color: $textWhite;
                    font-weight: bold;
                    cursor: pointer;
                    background-color: $backgroundPurple;
                }
                .mes-user-pasw {
                    text-align: center;
                    color: red;
                    margin: 10px 0;
                }
                .register {
                    text-align: center;
                    margin-top: 25px;
                    #register {
                        color: $textPurple;
                        text-decoration: none;
                    }
                }
                .forget-pass {
                    text-align: center;
                    #password_reset {
                        color: $textPurple;
                        text-decoration: none;
                    }
                }
            }
        }
        .pattern-deco {
            width: 30%;
            height: 100%;
        }
        
    }
}