.form-register {
    height: 100vh;
    width: 100%;
    .content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        .form-content {
            width: 70%;
            height: 100%;
            h2 {
                margin: 50px auto;
                text-transform: uppercase;
                color: $textPurple;
                font-size: 35px;
                border-bottom: $border;
                width: fit-content;
            }
            form {
                width: 55%;
                padding: 27px;
                border-radius: 10px;
                box-shadow: $shadow;
                margin: 0 auto;
                input {
                    width: 100%;
                    padding: 8px 15px;
                    border-radius: 6px;
                    outline: none;
                    border: $borderDecoration;
                    margin-bottom: 25px;
                    margin-top: 5px;
                }
                .error1,
                .error2 {
                    margin-top: -23px;
                    margin-bottom: 18px;
                    color: red;
                    font-size: 14px;
                    display: none;
                }
                .error_user {
                    margin-top: -23px;
                    margin-bottom: 18px;
                    color: red;
                    font-size: 14px;
                }
                button {
                    width: 100%;
                    padding: 10px;
                    border: none;
                    border-radius: 8px;
                    font-size: 18px;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    color: $textPurple;
                    font-weight: bold;
                    cursor: pointer;
                    background-color: $backgroundPurple;
                    color: $textWhite;
                }
                .login {
                    text-align: center;
                }
            }
        }
        .pattern-deco {
            width: 30%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
    }
}