{% extends 'dashbord/dashbord.html' %}
{% load static %}


<main>
    {% block content %}
    {% comment %} {% include 'dashbord/parts/navtop.html' %} {% endcomment %}
    <div class="form-package">
        {% comment %} error forms {% endcomment %}
        {% if form.errors %}
        {% for error in form.errors  %}
        {% if error == "price" %}
        <div class="alert alert-danger" role="alert">
            <div class="{{ error }}"> <span style="font-weight: 500;">PRIX</span> Assurez-vous qu'il n'y a pas plus de 6 chiffres au total.</div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        {% comment %} message if create a new package {% endcomment %}
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "success" %}
        <div class="alert alert-success" role="alert">
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</div>
        </div>
        {% elif message.tags == "error" %}
        <div class="alert alert-danger" role="alert">
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        {% if "edite" in request.build_absolute_uri %}
            <h4 class="title" >Edite Colis</h4>
            {% else %}
            <h4 class="title" >Créer Un Nouveau Colis</h4>
        {% endif %}

        <form method="POST" actions="" class="row g-3">
            {% csrf_token %}
            <div class="col-md-6 package">
                <label>Nom d'article : </label></br>
                {{form.article_name}}
            </div>
            {% if "edite" in request.build_absolute_uri %}
            <div class="col-md-6 package">
                <label>Ville : </label></br>
                <select class="form-select" aria-label="{{order.city}}" name="city">
                    <option class="selected" selected value="{{order.city}}">{{order.city}}</option>
                    {% for city in citys %}
                        <option value="{{city}}">{{city}}</option>
                    {% endfor %}
                </select>
            </div>
            {% else %}
            <div class="col-md-6 package">
                <label>Ville : </label></br>
                <select class="form-select" aria-label="Default select example" name="city">
                    <option selected>Choisissez la ville</option>
                    {% for city in citys %}
                    <option value="{{city}}">{{city}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="col-md-6 package">
                <label>Adresse : </label></br>
                {{form.address}}
            </div>
            <div class="col-md-6 package dh">
                <label>Prix : </label></br>
                {{form.price}}
            </div>
            <div class="col-md-6 package">
                <label>Télephone : </label></br>
                {{form.phone_number}}
            </div>
            <div class="col-md-6 package">
                <label>Nom du client : </label></br>
                {{form.client_name}}
            </div>
            <div class="col-md-6 package">
                <label>Remarque : </label></br>
                {{form.remark}}
            </div>

            {% if "edite" in request.build_absolute_uri %}
            <div class="col-12 package">
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>
            {% else %}
            <div class="col-12 package">
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
            {% endif %}
        </form>
    </div>
    {% endblock content %}
</main>