/* line 1, style.scss */
* {
  margin: 0 !important;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 9, style.scss */
body {
  background: #f5f5f5 !important;
}

/* line 13, style.scss */
a {
  text-decoration: none !important;
}

/* line 17, style.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* line 21, style.scss */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
/* line 25, style.scss */
::-webkit-scrollbar-thumb {
  background: #735d78;
}

/* Handle on hover */
/* line 29, style.scss */
::-webkit-scrollbar-thumb:hover {
  background: #efcefa;
}

/* line 33, style.scss */
.webpage {
  width: 100%;
  height: 100%;
}
/* line 36, style.scss */
.webpage .container-page {
  max-width: 100% !important;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 40, style.scss */
.webpage .container-page .nav-bar {
  height: 100vh;
  width: 20%;
  background-color: #735d78;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* line 46, style.scss */
.webpage .container-page .nav-bar .content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
/* line 50, style.scss */
.webpage .container-page .nav-bar .content .nav-close {
  display: none;
}
/* line 53, style.scss */
.webpage .container-page .nav-bar .content i {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
/* line 56, style.scss */
.webpage .container-page .nav-bar .content .btn-nav {
  padding: 10px;
}
/* line 58, style.scss */
.webpage .container-page .nav-bar .content .btn-nav .icon-navbar {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 0 0 0 auto;
}
/* line 66, style.scss */
.webpage .container-page .nav-bar .content .btn-nav .icon-navbar span {
  border: 1px solid #fff;
  margin: 3px;
}
/* line 72, style.scss */
.webpage .container-page .nav-bar .content .logo {
  padding: 20px;
}
/* line 74, style.scss */
.webpage .container-page .nav-bar .content .logo .title {
  font-size: 23px;
  font-weight: 700;
  color: #ffffff;
  height: 50px;
}
/* line 79, style.scss */
.webpage .container-page .nav-bar .content .logo .title small {
  font-size: 15px;
  top: -19px;
  position: relative;
  color: #D1B3C4;
}
/* line 87, style.scss */
.webpage .container-page .nav-bar .content nav {
  padding: 10px;
}
/* line 89, style.scss */
.webpage .container-page .nav-bar .content nav .parent_ul {
  padding: 0;
}
/* line 91, style.scss */
.webpage .container-page .nav-bar .content nav .parent_ul li {
  list-style: none;
  margin: 20px 0;
  padding: 5px;
}
/* line 95, style.scss */
.webpage .container-page .nav-bar .content nav .parent_ul li a {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
/* line 101, style.scss */
.webpage .container-page .nav-bar .content nav .parent_ul li a svg {
  width: 30px;
  height: 30px;
}
/* line 105, style.scss */
.webpage .container-page .nav-bar .content nav .parent_ul li a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
/* line 111, style.scss */
.webpage .container-page .nav-bar .content nav .parent_ul li a span p {
  margin: 0;
  margin-left: 10px;
}
/* line 117, style.scss */
.webpage .container-page .nav-bar .content nav .parent_ul li ul {
  display: none;
  padding: 0 6px;
  font-size: 15px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
/* line 123, style.scss */
.webpage .container-page .nav-bar .content nav .parent_ul li ul li a {
  color: rgba(255, 255, 255, 0.59);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
/* line 126, style.scss */
.webpage .container-page .nav-bar .content nav .parent_ul li ul li a:hover {
  color: rgba(255, 255, 255, 0.753);
}
/* line 180, style.scss */
.webpage .container-page main {
  width: calc(100% - 20%);
}
/* line 183, style.scss */
.webpage .container-page main .dashboard > .content {
  margin: 0 auto !important;
  padding: 10px;
  width: 98%;
  margin-bottom: 30px !important;
}
/* line 184, style.scss */
.webpage .container-page main .dashboard > .content i {
  font-size: 28px;
}
/* line 191, style.scss */
.webpage .container-page main .dashboard > .content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px auto !important;
}
/* line 197, style.scss */
.webpage .container-page main .dashboard > .content .cards .card {
  border: none !important;
  width: 250px;
  height: 150px;
  padding: 5px !important;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-box-shadow: 0 0 15px #0000000d;
          box-shadow: 0 0 15px #0000000d;
  margin: 5px;
}
/* line 205, style.scss */
.webpage .container-page main .dashboard > .content .cards .card .content {
  margin: 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
}
/* line 213, style.scss */
.webpage .container-page main .dashboard > .content .cards .card .content .pric h3 {
  font-size: 30px;
  margin: 10px 0;
  color: #735d78;
}
/* line 218, style.scss */
.webpage .container-page main .dashboard > .content .cards .card .content .pric p {
  margin: 10px 0;
  font-size: 12px;
  width: 110px;
  text-transform: uppercase;
}
/* line 225, style.scss */
.webpage .container-page main .dashboard > .content .cards .card .content i {
  font-size: 50px;
  color: #735d78;
}
/* line 230, style.scss */
.webpage .container-page main .dashboard > .content .cards .card:hover {
  background-color: #735d78;
}
/* line 233, style.scss */
.webpage .container-page main .dashboard > .content .cards .card:hover .content .pric h3, .webpage .container-page main .dashboard > .content .cards .card:hover .content .pric p {
  color: #fff;
}
/* line 237, style.scss */
.webpage .container-page main .dashboard > .content .cards .card:hover .content i {
  color: #efcefa;
}
/* line 242, style.scss */
.webpage .container-page main .dashboard > .content .block {
  width: 100%;
  height: auto;
}
/* line 246, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data {
  -webkit-box-shadow: 0 0 18px 0 #0000000d;
          box-shadow: 0 0 18px 0 #0000000d;
  max-height: 500px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0;
  overflow: auto;
  position: relative;
}
/* line 254, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .top {
  width: 100%;
  padding: 15px;
  height: 50px;
  background-color: #826c7f;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 55;
}
/* line 264, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .top h1 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
/* line 271, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .filter {
  padding: 10px;
  height: 80px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 0 #0000000d;
          box-shadow: 0 0 15px 0 #0000000d;
  z-index: 9;
}
/* line 280, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .filter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
/* line 285, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .filter form input {
  width: 100%;
  margin: 0 10px !important;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5ef;
  outline: none;
  border: 1px solid #a88fac;
}
/* line 295, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .filter form .submit {
  padding: 10px 15px;
  border: 0;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: #735d78;
  font-weight: 600;
}
/* line 306, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content {
  margin: 10px auto !important;
  width: 95%;
  background: #f9f9f9;
}
/* line 310, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #735d78;
}
/* line 316, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdfdfdee;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 0 #0000000d;
          box-shadow: 0 0 15px 0 #0000000d;
  margin: 20px 0 !important;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
/* line 326, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .user .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 329, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .user .info .logo {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 2px solid #735d78;
}
/* line 335, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .user .info .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/* line 341, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .user .info .username {
  margin-left: 19px !important;
  text-align: left;
}
/* line 344, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .user .info .username .name {
  font-size: 18px;
  text-transform: uppercase;
}
/* line 348, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .user .info .username .company-name {
  text-transform: uppercase;
  font-size: 12px;
  color: #858585;
}
/* line 357, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .user .actions i {
  font-size: 25px;
  color: #735d78;
  -webkit-filter: drop-shadow(0px 0px 3px #b8b8b8);
          filter: drop-shadow(0px 0px 3px #b8b8b8);
}
/* line 363, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .user:hover {
  background-color: #735d78;
}
/* line 366, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .user:hover .info .logo {
  border-color: #fff;
}
/* line 370, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .user:hover .info .username .name {
  color: #ffffff;
}
/* line 373, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .user:hover .info .username .company-name {
  color: #efcefa;
}
/* line 379, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .user:hover .actions i {
  color: #fff;
}
/* line 385, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .message {
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 0 #0000000d;
          box-shadow: 0 0 15px 0 #0000000d;
  margin: 20px 0 !important;
}
/* line 391, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .message .head-email {
  padding: 5px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
/* line 397, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .message .head-email .accordion {
  --bs-accordion-btn-focus-box-shadow: none;
}
/* line 399, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .message .head-email .accordion .accordion-button {
  text-transform: uppercase;
}
/* line 401, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .message .head-email .accordion .accordion-button:not(.collapsed) {
  background-color: #735d78;
}
/* line 402, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .message .head-email .accordion .accordion-button:not(.collapsed) .id {
  color: #fff !important;
}
/* line 406, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .message .head-email .accordion .accordion-button:not(.collapsed) .date-message {
  color: #a88fac !important;
}
/* line 410, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .message .head-email .accordion .accordion-button:focus {
  border-color: #a88fac;
}
/* line 416, style.scss */
.webpage .container-page main .dashboard > .content .block .row .show-data .body .content .message .head-email .accordion .accordion-collapse .subject p {
  border-bottom: 1px solid #735d78;
  text-transform: capitalize;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  /* line 3, devices/_devices.scss */
  .cards .card {
    margin: 5px auto !important;
  }

  /* line 7, devices/_devices.scss */
  .show-data {
    width: 100% !important;
  }
  /* line 10, devices/_devices.scss */
  .show-data .body .content {
    overflow: auto;
  }
  /* line 13, devices/_devices.scss */
  .show-data .body .content .package .table {
    width: 1000px !important;
  }
}
@media screen and (max-width: 425px) {
  /* line 22, devices/_devices.scss */
  .cards {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  /* line 24, devices/_devices.scss */
  .cards .card {
    width: 90% !important;
    margin: 5px auto !important;
  }

  /* line 29, devices/_devices.scss */
  .show-data {
    width: 100% !important;
  }
  /* line 32, devices/_devices.scss */
  .show-data .body .content {
    overflow: auto;
  }
  /* line 34, devices/_devices.scss */
  .show-data .body .content .table {
    width: 1000px !important;
  }
}

/*# sourceMappingURL=style.css.b80cfaa85e3d.map */