// normal mode 
$backgroundLight : white;
$normalColor : #3f3d56;
$lightColor : #fff;

// dark mode 
$backgroundDark : rgb(37, 37, 37);
$darkColor : white;
$yellowColor : #f8a726;

// main header
$bgmainHeader : #f7f7f7;