// Index Page 
@media only screen and (min-width : 1440px) {
    .pricing {
        .container {
            .content {
                .pricing-thumb {
                    width: 420px !important;
                }
            }
        }
    }
}
@media (max-width : 1024px) {
    .main-header {
        .content {
            .txt-main-header {
                p {
                    font-size: 28px !important;
                }
                a {
                    font-size: 15px !important;
                }
            }
        }
    }
    .pricing {
        .container {
            .content {
                .pricing-thumb {
                    width: 288px;
                }
            }
        }
    }

}

@media (max-width : 768px) {
    header {
        .container {
            .top-header {
                .content {
                    .nav-top,
                    .register {
                        display: none;
                    }
                    .nav-top.active {
                        position: fixed !important;
                        background: #efefef !important;
                        right: 0;
                        top: 0;
                        width: 270px;
                        height: 100%;
                        nav {
                            display: flex !important;
                            flex-direction: column;
                            align-items: center;
                            margin-top: 45px;
                            a {
                                border-bottom: 1px solid #9b9b9b;
                                margin: 0;
                                width: 100%;
                                text-align: center;
                                border-radius: 0;
                            }
                        }
                    }
                    .register.active {
                        position: absolute;
                        right: 25px;
                        bottom: -450px;
                    }
                    .nav-mobile {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        span {
                            background: black;
                            width: 45px;
                            padding: 1px;
                            margin: 4px auto;
                            border-radius: 20px;
                        }
                        span.center {
                            width: 30px;
                        }
                    }
                }
            }
            .main-header {
                .content {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column-reverse;
                    .txt-main-header {
                        margin-top: 110px;
                    }
                    .image-main {
                        width: 65%;
                        margin-top: 230px;
                    }
                }
            }
        }
    }
    .pricing {
        .container {
            .content {
                .pricing-thumb {
                    width: 314px;
                }
            }
        }
    }
}

@media (max-width : 425px) {
    header {
        .container {
            .main-header {
                .content {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column-reverse;
                    .txt-main-header {
                        margin-top: 55px;
                        h5 {
                            font-size: 15px;
                        }
                        p {
                            font-size: 23px !important;
                        }
                    }
                    .image-main {
                        width: 80%;
                        margin-top: 230px;
                    }
                }
            }
        }
    }
    .our-work {
        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column;
            .box {
                margin: 5px auto !important;
            }
        }
    }

    .pricing {
        .container {
            h1 {
                font-size: 25px;
                padding: 0 15px;
            }
            #search {
                width: 325px;
            }
            .content {
                .pricing-thumb {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width : 375px) {
    .top-header {
        padding: 15px 20px !important;
    }
    .main-header {
        .content {
            .image-main {
                width: 99% !important;
            }
        }
    }
    .nav-mobile {
        span:not(:nth-child(2)) {
            width: 40px !important;
        }
    }
    .our-work {
        .container {
            .box {
                width: 100%;
            }
        }
    }
    .pricing {
        margin: 30px auto;
        padding: 30px 20px;
        .container {
            margin: 20px 15px;
            h1 {
                font-size: 23px;
            }
            #search {
                width: 100%;
            }
        }
    }
}

@media (max-width : 320px) {
    #logo {
        font-size: 19px;
    }
    .top-header {
        padding: 15px 20px !important;
    }
    .main-header {
        .content {
            .txt-main-header {
                padding: 0 20px;
                a {
                    font-size: 13px !important;
                }
            }
            .image-main {
                width: 99% !important;
            }
        }
    }
    .nav-mobile {
        span:not(:nth-child(2)) {
            width: 35px !important;
        }
    }
    .pricing {
        padding: 15px 10px;
        .container {
            margin: 10px 5px;
            h1 {
                font-size: 22px !important;
            }
        }
    }
}