{% extends 'dashbord/dashbord.html' %}
{% load static %}


<main>
{% block content %}
    {% comment %} {% include 'dashbord/parts/navtop.html' %} {% endcomment %}
    <div class = "refund-content">
        <h4 class="title">Demande de remboursement</h4>
        <div class="content">
            <form method="POST">
                {% csrf_token %}
                {{form.exchange_price.label}}</br>
                {{form.exchange_price}}</br>
                {{form.exchange.label}}</br>
                {{form.exchange}}</br>
                {% if exchange_count == 0 %}
                <button type='submit' name="submit" class="btn btn-primary btn-etat" href="">Oui</button>
                {% else %}
                <button type='submit' name="submit" class="btn btn-primary btn-etat" href="" disabled="disabled">Oui</button>
                <p style="color:red; text-align:center">Un retour a déjà été demandé</p>
                {% endif %}
            </form>
        </div>
    </div>
    <script>
        let inputPrice = document.getElementById("id_exchange_price");
        inputPrice.setAttribute("value", "{{price}}")
        {% comment %} inputPrice.setAttribute("disabled", "disabled") {% endcomment %}
    </script>
{% endblock %}
</main>