{% extends "base/home.html" %}
{% load static %}
{% load i18n %}

<title>{% block title %}{% trans "Réinitialisez votre mot de passe" %}{% endblock %}</title>
{% block content %}

    <div class="form-login">
        <div class="content">
            <div class="form-content">
                <form action="" method="POST">
                    <h2 class="mb-4" style="font-size: 30px; border: none;">{% trans "Mot de passe oublié?" %}</h2>
                    <p class="form-label">
                        {% trans "Saisissez votre adresse e-mail pour obtenir un nouveau mot de passe" %}.
                    </p>
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" id="button" name="inscription" id="inscription" value="{% trans "Envoyer un e-mail" %}"><br>
                    <div class="text-success">
                        <hr>
                    </div>
                    <div class="login">
                        <p>{% trans "Vous n'avez pas de compte?" %} <a style="color: #735d78" id="login" href="{% url "connexion" %}"> {% trans "S'IDENTIFIER" %}</a></p>
                    </div>
                </form>
            </div>
            <div class="pattern-deco" style="background-image: url({% static 'img/pattern.png' %})">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let topHeader = document.querySelector(".insc");
        window.onscroll = function() {
            const value = scrollY
            if (scrollY >= 0) {
                topHeader.style.backgroundColor = "white";
                topHeader.style.boxShadow = "0 0 11px 0 #00000024";
                topHeader.style.zIndex = "999";
                
            }
        }
    </script>
{% endblock content %}

