{% extends "base/home.html" %}
{% load static %}
{% load i18n %}

<title>{% block title %}{% trans "Réinitialisez votre mot de passe" %}{% endblock %}</title>

{% block content %}
    <div class="form-login">
        <div class="content">
            <h2>{% trans "Réinitialisez votre mot de passe" %}</h2>
            {% if validlink %}
            <form action="" method="POST">
                <p class="form-label">{% trans "Veuillez entrer votre nouveau mot de passe deux fois" %} :</p>
                {% csrf_token %}
                {{ form }}
                <input type="submit" id="button" name="inscription" id="inscription" value="{% trans "Envoyer un e-mail" %}"><br>
                <div class="text-success">
                    <hr>
                </div>
                <div class="login">
                    <p>{% trans "Vous n'avez pas de compte?" %} <a style="color: #f8a726" id="login" href="{% url "connexion" %}"> {% trans "S'IDENTIFIER" %}</a></p>
                </div>
            </form>
            {% else %}
                <p>{% trans "Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé. Veuillez demander une nouvelle réinitialisation du mot de passe." %}</p>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        let topHeader = document.querySelector(".insc");
        window.onscroll = function() {
            const value = scrollY
            if (scrollY >= 0) {
                topHeader.style.backgroundColor = "white";
                topHeader.style.boxShadow = "0 0 11px 0 #00000024";
                topHeader.style.zIndex = "999";
                
            }
        }
    </script>
{% endblock content %}