{% extends "main/home.html" %}
{% load static %}

<title>{% block title %}Réinitialisez votre mot de passe{% endblock %}</title>

{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="	sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <div class="form-login">
        <div class="content">
            <h2>réinitialisez votre mot de passe</h2>
            {% if validlink %}
            <form action="" method="POST">
                <p class="form-label">Veuillez entrer votre nouveau mot de passe deux fois:</p>
                {% csrf_token %}
                {{ form }}
                <input type="submit" id="button" name="inscription" id="inscription" value="Envoyer un e-mail"><br>
                <div class="text-success">
                    <hr>
                </div>
                <div class="login">
                    <p>Vous n'avez pas de compte? <a style="color: #f8a726" id="login" href="{% url "connexion" %}"> S'IDENTIFIER</a></p>
                </div>
            </form>
            {% else %}
                <p>Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé. Veuillez demander une nouvelle réinitialisation du mot de passe.</p>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        let topHeader = document.querySelector(".insc");
        window.onscroll = function() {
            const value = scrollY
            if (scrollY >= 0) {
                topHeader.style.backgroundColor = "white";
                topHeader.style.boxShadow = "0 0 11px 0 #00000024";
                topHeader.style.zIndex = "999";
                
            }
        }
    </script>
{% endblock content %}