.repport {
    width: 100%;
    padding: 20px;
    .title {
        padding: 5px;
        margin: 5px auto;
        width: fit-content;
        color: $lightColor;
        text-transform: uppercase;
        border-bottom: 2px solid $color;
    }
    .btn {
        text-transform: uppercase;
        width: 125px;
        background: #735D78;
        border: 2px solid #D1B3C4 !important;
        outline: none;
        color: #fff;
        font-weight: 700;
        transition: all .3s ease-in-out;
        &:hover {
            background: #fff;
            color: #735D78;
            outline: none;
        }
    }
}