{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html {% if LANGUAGE_CODE == "ar" %} dir="rtl" {% else %} dir="ltr" {% endif %}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block description %}<meta name="description" content="Hello"/>{% endblock description %}
    {% block keywords %}<meta name="keywords" content="brigaddelivery"/>{% endblock keywords %}
	<link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" media="all"/>
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'scss/main.css' %}" media="all">
    {% comment %} bootstrap  {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> in href i must to add path icone -->
    <!-- fontawesome --> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title> {% block title %} FastDelivery {% endblock title %}</title>
</head>
<body>
    <div class="webpage">
        <div class="up">
            <div class="icone">
                <i class="fa-solid fa-angle-up"></i>
            </div>
        </div>
        {% block content %}
        <!-- Star Header -->
        <header>
            <div class="container">
                {% include "base/parts-tool/navbar.html" %}
                <div class="main-header">
                    <div class="content">
                        <div class="txt-main-header">
                            <h1 class="txt-header">{% trans "bienvenue a tous" %}</h1>
                            <h2 class="txt-paragraph">{% trans "votre service de livraison préféré" %}</h2>
                            <a href="{% url 'connexion' %}" {% if LANGUAGE_CODE == "ar" %} class="ar" {% endif %}>{% trans "Essayez maintenant" %}</a>
                        </div>
                        <div class="image-main right center">
                            {% comment %} <img id="bg-scoter" src="{% static 'img/bg.png' %}" alt="brigaddelivery">
                            <img id="scoter" src="{% static 'img/scoter.png' %}" alt="brigaddelivery"> {% endcomment %}
                            <img id="scoter" src="{% static 'img/Barcode-Reader.svg' %}" alt="brigaddelivery">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header -->
        {% comment %} {% block conetnt %} {% endcomment %}
        <!-- Star Main -->
        <main>
            <section class="our-work" id="our-work">
                <div class="container">
                    <div id="box-one" class="box">
                        <div class="content">
                            <h1>{% trans "LIVRAISON" %}</h1>
                            <p>{% trans "Brigad Style assure la livraison de vos colis dans les plus bref delais, 24h pour la plupart des ville, et 48h pour le reste." %}</p>
                        </div>
                    </div>
                    <div id="box-two" class="box">
                        <div class="content">
                            <h1>{% trans "SUIVI" %}</h1>
                            <p>{% trans "Brigad Style assure le suivi de vos colis avec vos clients, et la mise à jour des états des colis dans moins de 48h." %}</p>
                        </div>
                    </div>
                    <div id="box-three" class="box">
                        <div class="content">
                            <h1>{% trans "RAMASSAGE" %}</h1>
                            <p>{% trans "Brigad Style assure le ramassage de vos colis, un de nos agent va se deplacer chez vous pour ramasser vos colis." %}</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pricing" id="pricing">
                <div class="container">
                    <h1 class="title">{% trans "Tarification par ville" %}</h1>
                    <input type="text" name="" id="search" placeholder="{% trans "Trouvez votre ville" %}">
                    <div class="content">
                        {% if citys.count > 0 %}
                        {% for item in citys %}
                        <div class="pricing-thumb">
                            <div class="title">
                                <!-- <h1 style="font-size: 20px;">{{item.name}}</h1> -->
                                <p style="font-size: 20px; font-weight: bold;">{{item.name}}</p>
                            </div>
                            <div class="top-price">
                                <p>{% trans "Livrée" %}: {{item.price_l}}DH </p>
                            </div>
                            <div class="center-price">
                                <p>{% trans "Refusée" %}: {{item.price_r}}DH</p>
                            </div>
                            <div class="bottom-price">
                                <p>{% trans "Annulée" %}: {{item.price_c}}DH</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-12 text-center">
                        <a href="{% url 'all_citys' %}"><button type="submit" class="btn btn-primary">{% trans "Tout Afficher" %}</button></a>
                    </div>
                </div>
            </section>
        </main>
        <!-- End Main -->
        {% comment %} {% endblock conetnt %} {% endcomment %}
        <!-- Star Footer -->
        {% include 'base/parts-tool/footer.html' %}
        {% endblock content %}
    </div>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script>
        function submitForm() {
            var selectElement = document.getElementById("mySelect");
            var customValueElement = document.getElementById("customValue");
            var selectedValue = selectElement.value;
        
            if (selectedValue === "") {
            customValueElement.value = ""; // Clear the form field if no option is selected
            } else {
            customValueElement.value = selectedValue; // Assign the selected value to the form field
            document.getElementById("myForm").submit(); // Submit the form
            }
        }
    </script>
    <script>
        // change style botton up 
        const up = document.querySelector(".up")

        window.onscroll = function(){
            if (window.scrollY >= '500') {
                up.style.cssText = "transform: translateY(-80px);"
            } else {
                up.style.cssText = "transform: translateY(40px);"
            }
        }

        // action btn up 
        up.addEventListener('click', _ => {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        });
    </script>
</body> 
</html>