{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block keywords %} Hello {% endblock keywords %}">
    <meta name="keywords" content="{% block desciption %} brigaddelivery {% endblock desciption %}">
	<link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" type="text/css" href="{% static 'scss/main.css' %}" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" media="all"/>

    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> in href i must to add path icone -->
    <title> {% block title %} Brigad-Style {% endblock title %}</title>
</head>
<body>
    
    {% block content %}
    <div class="webpage">
        <!-- Star Header -->
        <header>
            <div class="container">
                {% include "base/parts-tool/navbar.html" %}
                    <div class="main-header">
                        <div class="content">
                            <div class="txt-main-header">
                                <h1 class="txt-header">bienvenue a tous</h1>
                                <h2 class="txt-paragraph">votre service de livraison préféré</h2>
                                <a href="#">Essayez maintenant</a>
                            </div>
                            <div class="image-main right center">
                                <img id="bg-scoter" src="{% static 'img/bg.png' %}" alt="brigaddelivery">
                                <img id="scoter" src="{% static 'img/scoter.png' %}" alt="brigaddelivery">
                            </div>
                        </div>
                    </div>
            </div>
        </header>
        <!-- End Header -->

        <!-- Star Main -->
        <main>
            <section class="our-work" id="our-work">
                <div class="container">
                    <div id="box-one" class="box">
                        <div class="content">
                            <h1>LIVRAISON</h1>
                            <p>Brigad Style assure la livraison de vos colis dans les plus bref delais, 24h pour la plupart des ville, et 48h pour le reste.</p>
                        </div>
                    </div>
                    <div id="box-two" class="box">
                        <div class="content">
                            <h1>SUIVI</h1>
                            <p>Brigad Style assure le suivi de vos colis avec vos clients, et la mise à jour des états des colis dans moins de 48h.</p>
                        </div>
                    </div>
                    <div id="box-three" class="box">
                        <div class="content">
                            <h1>RAMASSAGE</h1>
                            <p>Brigad Style assure le ramassage de vos colis, un de nos agent va se deplacer chez vous pour ramasser vos colis.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pricing" id="pricing">
                <div class="container">
                    <h1 class="title">Tarification par ville</h1>
                    <input type="text" name="" id="search" placeholder="Trouvez votre ville">
                    <div class="content">
                        {% if citys.count > 0 %}
                        {% for item in citys %}
                        <div class="pricing-thumb">
                            <div class="title">
                                <!-- <h1 style="font-size: 20px;">{{item.name}}</h1> -->
                                <p style="font-size: 20px; font-weight: bold;">{{item.name}}</p>
                            </div>
                            <div class="top-price">
                                <p>Livrée: {{item.price_l}}DH </p>
                            </div>
                            <div class="center-price">
                                <p>Refusée: {{item.price_r}}DH</p>
                            </div>
                            <div class="bottom-price">
                                <p>Annulée: {{item.price_c}}DH</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </section>
        </main>
        <!-- End Main -->
        
        <!-- Star Footer -->
        {% include 'base/parts-tool/footer.html' %}
    </div>
    {% endblock content %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body> 
</html>