// Index Page 
@media screen and (min-width : 2560px) {
    .dashboard {
        .content {
            
            .cards {
                justify-content: space-around !important;
            }
            .graphbox {
                justify-content: space-around;
                .box {
                    width: 40% !important;
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .webpage {
        > .container {
            display: block !important;
            .nav-bar {
                display: none !important;
            }
            .navbar {
                .container-fluid {
                    .btn-nav {
                        width: 50px;
                        height: 50px;
                        cursor: pointer;
                        .icon-navbar {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            height: 100%;
                            span {
                                border: 1px solid #735d78;
                                margin: 3px;
                                border-radius: 5px;
                                width: 40px;
                            }
                            span.center {
                                width: 30px;
                            }
                        }
                    }
                }
            }
            .nav-bar.active {
                display: block !important;
                position: fixed;
                left: 0;
                top: 0;
                height: 100vh;
                width: 270px;
                z-index: 1000;
                .content {
                    .nav-close {
                        width: 100%;
                        position: relative;
                        display: block !important;
                        i {
                            position: absolute;
                            right: 0;
                            top: 20px;
                            font-size: 45px;
                            color: #ffff;
                            cursor: pointer;
                        }
                    }
                }
            }
            .dashboard {
                .content {
                    .cards {
                        .card {
                            width: 45% !important;
                            .content {
                                .pric {
                                    h3 {
                                        font-size: 40px !important;
                                    }
                                    p {
                                        font-size: 16px !important;
                                        width: fit-content !important;
                                    }
                                }
                                i {
                                    font-size: 65px !important;
                                }
                            }
                        }
                    }
                    .graphbox {
                        justify-content: space-between !important;
                        .box {
                            width: 45% !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:767px) and (max-width:1023px) {
    .webpage {
        > .container {
            display: block !important;
            .nav-bar {
                display: none !important;
            }
            .dashboard {
                .content {
                    .cards {
                        .card {
                            width: 45% !important;
                            .content {
                                .pric {
                                    h3 {
                                        font-size: 40px !important;
                                    }
                                    p {
                                        font-size: 16px !important;
                                        width: fit-content !important;
                                    }
                                }
                                i {
                                    font-size: 65px !important;
                                }
                            }
                        }
                    }
                    .graphbox {
                        justify-content: center !important;
                        .box {
                            width: 90% !important;
                        }
                    }
                }
                table {
                    width: 1000px;
                }
            }
            .tracking-content {
                .filter {
                    form {
                        .col-6 {
                            width: 80%;
                        }
                    }
                }
                .page-tracking {
                    .tracking-content {
                        width: 80%;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width:768px) {
    .webpage {
        > .container {
            display: block !important;
            .nav-bar {
                display: none !important;
            }
            .dashboard {
                .content {
                    .box {
                        width: 90% !important;
                    }
                    table {
                        width: 1000px;
                    }
                }
            }
            .get-data {
                .table {
                    width: 1000px;
                }
            }
            .tracking-content {
                .filter {
                    form {
                        .col-6 {
                            width: 80%;
                        }
                    }
                }
                .page-tracking {
                    .tracking-content {
                        width: 80%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:425px) {
    .webpage {
        > .container {
            .dashboard {
                margin: 10px 5px !important;
                .content {
                    .cards {
                        justify-content: center !important;
                        .card {
                            width: 75% !important;
                            .content {
                                .pric {
                                    h3 {
                                        font-size: 30px !important;
                                    }
                                    p {
                                        font-size: 12px !important;
                                        width: fit-content !important;
                                    }
                                }
                                i {
                                    font-size: 45px !important;
                                }
                            }
                        }
                    }
                    .graphbox {
                        padding: 15px !important;
                        .box {
                            width: 100% !important;
                            padding: 10px !important;
                            h5 {
                                font-size: 12px;
                            }
                        }
                    }
                }
                table {
                    width: 1000px;
                }
                .parcels {
                    h1 {
                        font-size: 20px !important;
                    }
                }
            }
            .navbar {
                .container-fluid {
                    .user {
                        .setting {
                            > .ul-setting {
                                right: -60px !important;
                            }
                        }
                    }
                }
            }
            .pack-filter {
                form {
                    input {
                        width: 100% !important;
                    }
                    select {
                        width: 100% !important;
                    }
                }
            }
            .get-data {
                .table {
                    width: 1000px;
                }
                .submit {
                    z-index: 99;
                }
                .content {
                    h4 {
                        font-size: 20px !important;
                    }
                    .table-content {
                        overflow: auto;
                        width: 100%;
                        .table {
                            width: 1000px;
                            .td-actions {
                                height: auto !important;
                            }
                            .actions {
                                height: auto !important;
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                button {
                                    margin: 5px 0;
                                }
                            }
                        }
                    }
                }
            }
            .form-profile {
                .content {
                    .form-content {
                        padding: 10px !important;
                        .informations {
                            .info {
                                width: 100% !important;
                                margin: 10px 0 !important;
                                .content {
                                    font-size: 14px !important;
                                }
                            }
                        }
                    }
                }
            }
            .tracking-content {
                .filter {
                    form {
                        .col-6 {
                            width: 98%;
                        }
                    }
                }
                .page-tracking {
                    .tracking-content {
                        width: 98%;
                        padding: 8px;
                        .top-tracking {
                            h5 {
                                font-size: 14px;
                            }
                            p {
                                font-size: 13px;
                            }
                        }
                        .bottom-tracking {
                            font-size: 14px;
                            .track:nth-child(2)::after,
                            .track:nth-child(3)::after {
                                width: 70px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and  (max-width:375px) {
    .webpage {
        >.container {
            .navbar {
                .container-fluid {
                    .user {
                        .setting {
                            > .ul-setting {
                                width: 300px !important;
                                right: -66px !important;
                            }
                        }
                    }
                }
            }
            .page-tracking {
                .tracking-content {
                    width: 98%;
                    padding: 8px;
                    .top-tracking {
                        h5 {
                            font-size: 14px;
                        }
                        p {
                            font-size: 13px;
                        }
                    }
                    .bottom-tracking {
                        font-size: 14px;
                        .track:nth-child(2)::after,
                        .track:nth-child(3)::after {
                            width: 60px !important;
                        }
                    }
                }
            }
        }
    }
    
    
}
