@media screen and (max-width: 768px){
    .cards {
        .card {
            margin: 5px auto !important;
        }
    }
    .show-data {
        width: 100% !important;
        .body {
            .content {
                overflow: auto;
                .package {
                    .table {
                        width: 1000px !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 425px){
    .cards {
        justify-content: center !important;
        .card {
            width: 90% !important;
            margin: 5px auto !important;
        }
    }
    .show-data {
        width: 100% !important;
        .body {
            .content {
                overflow: auto;
                .table {
                    width: 1000px !important;
                }
            }
        }
    }
}