.box-content {
    p {
        margin: 0 !important;
    }
    padding: 5px;
    border-radius: 10px;
    .package_box {
        background: #fafafa;
        min-height: 80px;
        width: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid #00000025;
        transition: all 0.5s ease-in-out;
        &:hover {
            box-shadow: 0 0 15px 0 #0000000f;
        }
        .info {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
            border-right: 1px solid #00000017;
            &.fin {
                border-right: none;
            }
            p {
                color: #686868;
            }
            .actions {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                a {
                    color: #735d78;
                    font-size: 23px;
                    // filter: drop-shadow(0px 0px 2px black);
                }
            }
        }
    }
}