.box-content {
    padding: 40px;
    border: 1px solid #efefef;
    .package_boc {
        background: #ededed;
        height: 80px;
        width: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 10px;
        box-shadow: 0 0 15px 0 #00000014;
        .id_box {
            margin: 0 !important;
        }
    }
}