.page-tracking {
    display: flex;
    align-items: center;
    justify-content: center;
    .tracking-content {
        background-color: #fff;
        width: 55%;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 15px 0 #00000025;
        .top-tracking {
            width: 100%;
			h5 {
				text-transform: capitalize;
				color: #3f3f3f !important;
				font-size: 16px;
				font-weight: 600;
			}
			p {
				font-weight: 400;
				margin: 0;
				font-size: 15px;
			}
            .info-tracking {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 10px auto;
            }
            .price-tracking {
                width: 100%;
                margin: 10px auto;
                .withdraw {
                    margin: 10px auto;
                }
                .price-package, .fee-tracking  {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
        .bottom-tracking {
            margin-top: 30px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100px;
            .track {
                position: relative;
                display: flex;
                justify-content: center;
                width: 60px;
                &::before {
                    content: "👌🏽";
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    background-color: rgb(236, 58, 58);
                    top: -40px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                }
                &:nth-child(2)::after, 
                &:nth-child(3)::after {
                    content: "";
                    position: absolute;
                    width: 128px;
                    border: 2px solid rgb(236, 58, 58);
                    height: 0;
                    right: 50px;
                    top: -28px;
                }
                &.true::after {
                    border: 2px solid rgb(19, 122, 27);
                }
                &.true::before {
                    background-color: rgb(19, 122, 27);
                }
            }
        }
    }
}