@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
// @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import "./varibles/varible";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    scroll-behavior: smooth;
}
td {
    padding: 1.1rem 0.5rem !important;
}
input,
textarea,
.form-select {
    outline: none;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    width: 80%;
}
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    // border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: $lightColor;
    // border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $color; 
}
.webpage {
    .container {
        display: flex;
        padding: 0%;
        margin: 0;
        max-width: 100%;
        background-color: $lightBg;
        min-height: 100vh;
        .nav-bar {
            height: 100vh;
            width: 330px;
            background-color: #735d78;
            position: sticky;
            top: 0;
            .content {
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                .nav-close {
                    display: none;
                }
                i {
                    transition: all .5s ease;
                }
                .btn-nav {
                    padding: 10px;
                    .icon-navbar {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        cursor: pointer;
                        margin: 0 0 0 auto;
                        span {
                            border: 1px solid $whiteColor;
                            margin: 3px;
                        }
                    }
                }
                .logo {
                    padding: 20px;
                    .title {
                        font-size: 23px;
                        font-weight: 700;
                        color: #ffffff;
                        height: 50px;
                        small {
                            font-size: 15px;
                            top: -19px;
                            position: relative;
                            color: #D1B3C4;
                        }
                    }
                }
                nav {
                    padding: 10px;
                    .parent_ul {
                        padding: 0;
                        li {
                            list-style: none;
                            margin: 20px 0;
                            padding: 5px;
                            a {
                                color: $whiteColor;
                                text-decoration: none;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                svg {
                                    width: 30px;
                                    height: 30px;
                                }
                                span {
                                    display: flex;
                                    justify-content: space-between;
                                    flex-direction: row;
                                    align-items: center;
                                    width: 100%;
                                    p {
                                        margin: 0;
                                        margin-left: 10px;
                                    }
                                }
                            }
                            ul {
                                display: none;
                                padding: 0 6px;
                                font-size: 15px;
                                transition: all .5s ease;
                                li {
                                    a {
                                        color: rgba(255, 255, 255, 0.59);
                                        transition: all .5s ease;
                                        &:hover {
                                            color: rgba(255, 255, 255, 0.753);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        main {
            width: 100%;
            .bg-light {
                background-color: $lightBgNav !important;
                position: sticky;
                top: 0;
                z-index: 2;
                .container-fluid {
                    .title {
                        font-size: 23px;
                        margin: 0 10px;
                        font-weight: 700;
                        color: $lightColor;
                        height: 50px;
                        small {
                            font-size: 15px;
                            top: -19px;
                            position: relative;
                            color: $color;
                        }
                    }
                    .user {
                        display: flex;
                        align-items: center;
                        flex-direction: row-reverse;
                        .i-p {
                            margin: 0 15px;
                            padding: 5px;
                            cursor: pointer;
                            position: relative;
                        }
                        .setting svg {
                            animation-name: setting;
                            animation-iteration-count: infinite;
                            animation-duration: 4s;
                            animation-timing-function: linear;
                        }
                        .setting {
                            .ul-setting {
                                display: none;
                            }
                            .ul-setting.active {
                                display: block;
                                position: absolute;
                                right: 0;
                                top: 50px;
                                width: 340px;
                                background-color: white;
                                padding: 10px;
                                border-radius: 10px;
                                box-shadow: 0 0 10px 0 #0000002e;
                                margin: 0;
                                max-height: 225px;
                                cursor: default;
                                overflow-y: scroll;
                                .content {
                                    border: 1px solid #d1b3c4;
                                    border-radius: 5px;
                                    margin-bottom: 5px;
                                    .title {
                                        height: fit-content;
                                        margin: 0;
                                        font-size: 15px;
                                        text-transform: uppercase;
                                        border-bottom: 1px solid #d1b3c4;
                                        padding: 6px;
                                    }
                                    .message {
                                        font-size: 15px;
                                        padding: 5px;
                                    }
                                }
                            }
                        }
                        .profile {
                            img {
                                width: 40px;
                                height: 40px;
                                border: 2px solid #d1b3c4;
                                border-radius: 50%;
                                position: relative;
                                object-fit: cover;
                                }
                                .ul-profile {
                                    display: none;
                                }
                                .ul-profile.active {
                                    transition: all .3s ease-in-out;
                                    display: block;
                                    position: absolute;
                                    background: #735d78;
                                    padding: 0;
                                    margin: 0;
                                    right: 0;
                                    bottom: -97px;
                                    border-radius: 10px;
                                    text-decoration: none;
                                    color: #fff;
                                    a {
                                        text-decoration: none;
                                        color: #fff;
                                        margin: 0;
                                        white-space: nowrap;
                                        line-height: 44px;
                                        padding: 15px 20px;
                                    }
                                }
                            &::before {
                                content: "";
                                width: 10px;
                                height: 10px;
                                background-color: rgb(1, 179, 1);
                                border-radius: 50%;
                                position: absolute;
                                z-index: 2;
                                right: 4px;
                                bottom: 6px;
                            }
                        }
                    }
                }
            }
            .dashboard {
                margin: 40px 20px 20px 20px;
                .content {
                    .cards {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        margin: 50px auto;
                        .card {
                            border: none !important;
                            width: 250px;
                            height: 150px;
                            padding: 15px;
                            transition: all .3s ease-out;
                            box-shadow: $shadow;
                            margin: 5px;
                            .content {
                                margin: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                width: 100%;
                                height: 100%;
                                .pric {
                                    h3 {
                                        font-size: 30px;
                                        margin: 10px 0;
                                        color: $background;
                                    }
                                    p {
                                        margin: 10px 0;
                                        font-size: 12px;
                                        width: 110px;
                                    }
                                }
                                i {
                                    font-size: 50px;
                                    color: $lightColor
                                }
                            }
                            &:hover {
                                background-color: $background;
                            }
                            &:hover .content .pric h3,
                            &:hover .content .pric p {
                                color: $whiteColor;
                            }
                            &:hover .content i {
                                color: $color;
                            }
                        }
                    }
                    .graphbox {
                        width: 100%;
                        height: fit-content;
                        padding: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-around;
                        .box {
                            background: $lightBgNav;
                            padding: 20px;
                            width: 48%;
                            box-shadow: $shadow;
                            border-radius: 20px;
                            margin: 20px 0;
                            h5 {
                                text-align: center;
                                color: $lightColor;
                                margin: 8px auto;
                            }
                        }
                    }
                    .parcels {
                        background-color: $whiteColor;
                        padding: 20px;
                        margin: 50px auto;
                        border-radius: 10px;
                        .content {
                            .header-parcels {
                                width: 100%;
                                h1 {
                                    font-size: 30px;
                                }
                            }
                            .tb {
                                height: 335px;
                                overflow-y: scroll;
                            }
                        }
                    }
                }
            }
        }
    }
}

@import './pages/newPackages';
@import './pages/waitingPickup';
@import "./pages/packagePickUp";
@import "./pages/parts/refund";
@import "./pages/statistic";
@import "./pages/collectionsPickedUp";
@import "./pages/newPickedUp";
@import "./pages/profile";
@import "./pages/contact_us";
@import "./pages/tracking";
@import "./pop-up/pop-up-message";
@import "./All-devices/media";

@keyframes setting {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}