@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
/* line 4, styles.scss */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
}

/* line 12, styles.scss */
td {
  padding: 1.1rem 0.5rem !important;
}

/* line 15, styles.scss */
input,
textarea,
.form-select {
  outline: none;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  width: 80%;
}

/* line 24, styles.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* line 28, styles.scss */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
/* line 33, styles.scss */
::-webkit-scrollbar-thumb {
  background: #735D78;
}

/* Handle on hover */
/* line 38, styles.scss */
::-webkit-scrollbar-thumb:hover {
  background: #D1B3C4;
}

/* line 42, styles.scss */
.webpage .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0%;
  margin: 0;
  max-width: 100%;
  background-color: whitesmoke;
  min-height: 100vh;
}
/* line 49, styles.scss */
.webpage .container .nav-bar {
  height: 100vh;
  width: 330px;
  background-color: #735d78;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* line 55, styles.scss */
.webpage .container .nav-bar .content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
/* line 59, styles.scss */
.webpage .container .nav-bar .content .nav-close {
  display: none;
}
/* line 62, styles.scss */
.webpage .container .nav-bar .content i {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
/* line 65, styles.scss */
.webpage .container .nav-bar .content .btn-nav {
  padding: 10px;
}
/* line 67, styles.scss */
.webpage .container .nav-bar .content .btn-nav .icon-navbar {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 0 0 0 auto;
}
/* line 75, styles.scss */
.webpage .container .nav-bar .content .btn-nav .icon-navbar span {
  border: 1px solid #fff;
  margin: 3px;
}
/* line 81, styles.scss */
.webpage .container .nav-bar .content .logo {
  padding: 20px;
}
/* line 83, styles.scss */
.webpage .container .nav-bar .content .logo .title {
  font-size: 23px;
  font-weight: 700;
  color: #ffffff;
  height: 50px;
}
/* line 88, styles.scss */
.webpage .container .nav-bar .content .logo .title small {
  font-size: 15px;
  top: -19px;
  position: relative;
  color: #D1B3C4;
}
/* line 96, styles.scss */
.webpage .container .nav-bar .content nav {
  padding: 10px;
}
/* line 98, styles.scss */
.webpage .container .nav-bar .content nav .parent_ul {
  padding: 0;
}
/* line 100, styles.scss */
.webpage .container .nav-bar .content nav .parent_ul li {
  list-style: none;
  margin: 20px 0;
  padding: 5px;
}
/* line 104, styles.scss */
.webpage .container .nav-bar .content nav .parent_ul li a {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
/* line 110, styles.scss */
.webpage .container .nav-bar .content nav .parent_ul li a svg {
  width: 30px;
  height: 30px;
}
/* line 114, styles.scss */
.webpage .container .nav-bar .content nav .parent_ul li a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
/* line 120, styles.scss */
.webpage .container .nav-bar .content nav .parent_ul li a span p {
  margin: 0;
  margin-left: 10px;
}
/* line 126, styles.scss */
.webpage .container .nav-bar .content nav .parent_ul li ul {
  display: none;
  padding: 0 6px;
  font-size: 15px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
/* line 132, styles.scss */
.webpage .container .nav-bar .content nav .parent_ul li ul li a {
  color: rgba(255, 255, 255, 0.59);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
/* line 135, styles.scss */
.webpage .container .nav-bar .content nav .parent_ul li ul li a:hover {
  color: rgba(255, 255, 255, 0.753);
}
/* line 146, styles.scss */
.webpage .container main {
  width: 100%;
}
/* line 148, styles.scss */
.webpage .container main .bg-light {
  background-color: #fff !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
/* line 154, styles.scss */
.webpage .container main .bg-light .container-fluid .title {
  font-size: 23px;
  margin: 0 10px;
  font-weight: 700;
  color: #735D78;
  height: 50px;
}
/* line 160, styles.scss */
.webpage .container main .bg-light .container-fluid .title small {
  font-size: 15px;
  top: -19px;
  position: relative;
  color: #D1B3C4;
}
/* line 167, styles.scss */
.webpage .container main .bg-light .container-fluid .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
/* line 171, styles.scss */
.webpage .container main .bg-light .container-fluid .user .i-p {
  margin: 0 15px;
  padding: 5px;
  cursor: pointer;
  position: relative;
}
/* line 177, styles.scss */
.webpage .container main .bg-light .container-fluid .user .setting svg {
  -webkit-animation-name: setting;
          animation-name: setting;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
/* line 184, styles.scss */
.webpage .container main .bg-light .container-fluid .user .setting .ul-setting {
  display: none;
}
/* line 187, styles.scss */
.webpage .container main .bg-light .container-fluid .user .setting .ul-setting.active {
  display: block;
  position: absolute;
  right: 0;
  top: 50px;
  width: 340px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 0 #0000002e;
          box-shadow: 0 0 10px 0 #0000002e;
  margin: 0;
  max-height: 225px;
  cursor: default;
  overflow-y: scroll;
}
/* line 201, styles.scss */
.webpage .container main .bg-light .container-fluid .user .setting .ul-setting.active .content {
  border: 1px solid #d1b3c4;
  border-radius: 5px;
  margin-bottom: 5px;
}
/* line 205, styles.scss */
.webpage .container main .bg-light .container-fluid .user .setting .ul-setting.active .content .title {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #d1b3c4;
  padding: 6px;
}
/* line 213, styles.scss */
.webpage .container main .bg-light .container-fluid .user .setting .ul-setting.active .content .message {
  font-size: 15px;
  padding: 5px;
}
/* line 221, styles.scss */
.webpage .container main .bg-light .container-fluid .user .profile img {
  width: 40px;
  height: 40px;
  border: 2px solid #d1b3c4;
  border-radius: 50%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
/* line 229, styles.scss */
.webpage .container main .bg-light .container-fluid .user .profile .ul-profile {
  display: none;
}
/* line 232, styles.scss */
.webpage .container main .bg-light .container-fluid .user .profile .ul-profile.active {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: block;
  position: absolute;
  background: #735d78;
  padding: 0;
  margin: 0;
  right: 0;
  bottom: -97px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
}
/* line 244, styles.scss */
.webpage .container main .bg-light .container-fluid .user .profile .ul-profile.active a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  white-space: nowrap;
  line-height: 44px;
  padding: 15px 20px;
}
/* line 253, styles.scss */
.webpage .container main .bg-light .container-fluid .user .profile::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #01b301;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  right: 4px;
  bottom: 6px;
}
/* line 268, styles.scss */
.webpage .container main .dashboard {
  margin: 40px 20px 20px 20px;
}
/* line 271, styles.scss */
.webpage .container main .dashboard .content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px auto;
}
/* line 277, styles.scss */
.webpage .container main .dashboard .content .cards .card {
  border: none !important;
  width: 250px;
  height: 150px;
  padding: 15px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.082);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.082);
  margin: 5px;
}
/* line 285, styles.scss */
.webpage .container main .dashboard .content .cards .card .content {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
}
/* line 293, styles.scss */
.webpage .container main .dashboard .content .cards .card .content .pric h3 {
  font-size: 30px;
  margin: 10px 0;
  color: #735D78;
}
/* line 298, styles.scss */
.webpage .container main .dashboard .content .cards .card .content .pric p {
  margin: 10px 0;
  font-size: 12px;
  width: 110px;
}
/* line 304, styles.scss */
.webpage .container main .dashboard .content .cards .card .content i {
  font-size: 50px;
  color: #735D78;
}
/* line 309, styles.scss */
.webpage .container main .dashboard .content .cards .card:hover {
  background-color: #735D78;
}
/* line 312, styles.scss */
.webpage .container main .dashboard .content .cards .card:hover .content .pric h3, .webpage .container main .dashboard .content .cards .card:hover .content .pric p {
  color: #fff;
}
/* line 316, styles.scss */
.webpage .container main .dashboard .content .cards .card:hover .content i {
  color: #D1B3C4;
}
/* line 321, styles.scss */
.webpage .container main .dashboard .content .graphbox {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/* line 329, styles.scss */
.webpage .container main .dashboard .content .graphbox .box {
  background: #fff;
  padding: 20px;
  width: 48%;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.082);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.082);
  border-radius: 20px;
  margin: 20px 0;
}
/* line 336, styles.scss */
.webpage .container main .dashboard .content .graphbox .box h5 {
  text-align: center;
  color: #735D78;
  margin: 8px auto;
}
/* line 343, styles.scss */
.webpage .container main .dashboard .content .parcels {
  background-color: #fff;
  padding: 20px;
  margin: 50px auto;
  border-radius: 10px;
}
/* line 349, styles.scss */
.webpage .container main .dashboard .content .parcels .content .header-parcels {
  width: 100%;
}
/* line 351, styles.scss */
.webpage .container main .dashboard .content .parcels .content .header-parcels h1 {
  font-size: 30px;
}
/* line 355, styles.scss */
.webpage .container main .dashboard .content .parcels .content .tb {
  height: 335px;
  overflow-y: scroll;
}

/* line 1, pages/_newPackages.scss */
.form-package {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  padding: 20px;
}
/* line 6, pages/_newPackages.scss */
.form-package .title {
  padding: 5px;
  margin: 5px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #735D78;
  text-transform: uppercase;
  border-bottom: 2px solid #D1B3C4;
}
/* line 14, pages/_newPackages.scss */
.form-package .row {
  width: 80%;
  margin: auto;
}
/* line 17, pages/_newPackages.scss */
.form-package .row .package {
  position: relative;
  text-align: left;
}
/* line 20, pages/_newPackages.scss */
.form-package .row .package input,
.form-package .row .package textarea,
.form-package .row .package .form-select {
  background-color: #0000000a;
  border: none;
  border-bottom: 2px solid #735d7842;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.055);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.055);
  margin: 15px 0;
  width: 100%;
}
/* line 29, pages/_newPackages.scss */
.form-package .row .package input:focus,
.form-package .row .package textarea:focus,
.form-package .row .package .form-select:focus {
  border-bottom: 2px solid #735D78;
}
/* line 32, pages/_newPackages.scss */
.form-package .row .package input .selected,
.form-package .row .package textarea .selected,
.form-package .row .package .form-select .selected {
  background: #735D78;
  color: #fff;
}
/* line 37, pages/_newPackages.scss */
.form-package .row .package textarea {
  height: 100px;
}
/* line 40, pages/_newPackages.scss */
.form-package .row .package .btn {
  text-transform: uppercase;
  width: 125px;
  background: #735D78;
  border: 2px solid #D1B3C4;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 48, pages/_newPackages.scss */
.form-package .row .package .btn:hover {
  background: #fff;
  color: #735D78;
}
/* line 54, pages/_newPackages.scss */
.form-package .row .dh::before {
  content: "DH";
  color: #fff;
  width: 36px;
  height: 36px;
  background: #735D78;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 15px;
  right: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 3, pages/_waitingPickup.scss */
.webpage .container .get-data {
  padding: 10px;
}
/* line 5, pages/_waitingPickup.scss */
.webpage .container .get-data .content {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.082);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.082);
  height: 100%;
}
/* line 11, pages/_waitingPickup.scss */
.webpage .container .get-data .content h4 {
  font-size: 30px;
  margin: 10px auto 40px;
  padding: 3px;
  border-bottom: 2px solid #E8C2CA;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  color: #735D78;
}
/* line 23, pages/_waitingPickup.scss */
.webpage .container .get-data .content .table thead tr th {
  width: 140px;
  overflow-wrap: anywhere;
}
/* line 31, pages/_waitingPickup.scss */
.webpage .container .get-data .content .table tbody td {
  font-size: 14px;
  min-height: 80px;
  padding: 5px !important;
}
/* line 36, pages/_waitingPickup.scss */
.webpage .container .get-data .content .table tbody .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 41, pages/_waitingPickup.scss */
.webpage .container .get-data .content .table tbody .actions .btn {
  font-size: 13px;
}
/* line 45, pages/_waitingPickup.scss */
.webpage .container .get-data .content .table tbody .actions-inv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/* line 49, pages/_waitingPickup.scss */
.webpage .container .get-data .content .table tbody .actions-inv .btn {
  font-size: 13px;
}
/* line 53, pages/_waitingPickup.scss */
.webpage .container .get-data .content .table tbody td:nth-child(10) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/* line 58, pages/_waitingPickup.scss */
.webpage .container .get-data .content .table tbody td:nth-child(10) a svg {
  width: 20px;
  height: 20px;
}

/* line 1, pages/_packagePickUp.scss */
.content-package {
  min-height: 100vh;
  width: 100%;
  padding: 10px;
}
/* line 5, pages/_packagePickUp.scss */
.content-package .pack-filter {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}
/* line 9, pages/_packagePickUp.scss */
.content-package .pack-filter input {
  background-color: #0000000a;
  border: none;
  border-bottom: 2px solid #735D78;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.082);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.082);
  margin: 15px 5px;
  width: 25%;
}
/* line 17, pages/_packagePickUp.scss */
.content-package .pack-filter select {
  background-color: #0000000a;
  border: none;
  border-bottom: 2px solid #735D78;
  -webkit-box-shadow: 0 0 7px 0 0 0 20px 0 rgba(0, 0, 0, 0.082);
          box-shadow: 0 0 7px 0 0 0 20px 0 rgba(0, 0, 0, 0.082);
  margin: 15px 5px;
  width: 25%;
  outline: none;
  padding: 5px 10px;
  border-radius: 3px;
}
/* line 29, pages/_packagePickUp.scss */
.content-package .get-data {
  margin: 20px 0;
}
/* line 31, pages/_packagePickUp.scss */
.content-package .get-data .content {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.082);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.082);
  max-height: 950px;
  overflow-y: scroll;
}
/* line 38, pages/_packagePickUp.scss */
.content-package .get-data .content h4 {
  font-size: 30px;
  margin: 10px auto 40px;
  padding: 3px;
  border-bottom: 2px solid #E8C2CA;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  color: #735D78;
}
/* line 47, pages/_packagePickUp.scss */
.content-package .get-data .content .table tbody td {
  font-size: 14px;
  min-height: 80px !important;
}
/* line 51, pages/_packagePickUp.scss */
.content-package .get-data .content .td-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* line 54, pages/_packagePickUp.scss */
.content-package .get-data .content .td-actions .actions {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 10px;
  background: #735D78;
  border-radius: 10px;
  margin: 3px 0;
  color: #fff !important;
  text-decoration: none;
  border: 1px solid #735D78;
  font-weight: 600;
  width: 205px;
  font-size: 13px;
}
/* line 66, pages/_packagePickUp.scss */
.content-package .get-data .content .td-actions .actions:hover {
  background-color: #fff;
  color: #735D78 !important;
}
/* line 71, pages/_packagePickUp.scss */
.content-package .get-data .content .td-actions .actions.tracking {
  border: 1px solid #E8C2CA;
  background: #D1B3C4;
  color: #735D78 !important;
}
/* line 75, pages/_packagePickUp.scss */
.content-package .get-data .content .td-actions .actions.tracking:hover {
  border: 1px solid #E8C2CA;
  background: #fff;
  color: #735D78 !important;
}

/* line 1, pages/parts/_refund.scss */
.refund-content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
/* line 4, pages/parts/_refund.scss */
.refund-content .title {
  padding: 5px;
  margin: 10px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #735D78;
  text-transform: uppercase;
  border-bottom: 2px solid #E8C2CA;
}
/* line 12, pages/parts/_refund.scss */
.refund-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}
/* line 17, pages/parts/_refund.scss */
.refund-content .content form {
  width: 70%;
}
/* line 19, pages/parts/_refund.scss */
.refund-content .content form input,
.refund-content .content form textarea {
  position: relative;
  width: 100%;
  margin: 10px auto;
  background-color: #0000000a;
  border: none;
  border-bottom: 2px solid #735D78;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.082);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.082);
  margin: 15px 0;
}
/* line 29, pages/parts/_refund.scss */
.refund-content .content form input:focus,
.refund-content .content form textarea:focus {
  border-bottom: 2px solid #735D78;
}
/* line 33, pages/parts/_refund.scss */
.refund-content .content form textarea#id_refund {
  height: 200px;
}
/* line 36, pages/parts/_refund.scss */
.refund-content .content form input[name="refund_price"]::before {
  content: "DH";
  color: #fff;
  width: 36px;
  height: 36px;
  background: #735D78;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 15px;
  right: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 51, pages/parts/_refund.scss */
.refund-content .content form button {
  width: 100%;
  margin: 10px auto;
  text-transform: uppercase;
  background: #735D78;
  border: 2px solid #E8C2CA;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 60, pages/parts/_refund.scss */
.refund-content .content form button:hover {
  background: #fff;
  color: #735D78;
}

/* line 1, pages/_statistic.scss */
.content-static {
  width: 100%;
  padding: 20px;
}
/* line 4, pages/_statistic.scss */
.content-static .static {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* line 5, pages/_statistic.scss */
.content-static .static .title {
  padding: 5px;
  margin: 5px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #735D78;
  text-transform: uppercase;
  border-bottom: 2px solid #E8C2CA;
}
/* line 24, pages/_statistic.scss */
.content-static .static .content {
  width: 75%;
}

/* line 1, pages/_collectionsPickedUp.scss */
.get-data {
  padding: 10px;
}
/* line 3, pages/_collectionsPickedUp.scss */
.get-data .content {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.089);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.089);
  height: 100%;
}
/* line 9, pages/_collectionsPickedUp.scss */
.get-data .content h4 {
  font-size: 30px;
  margin: 10px auto 40px;
  padding: 3px;
  border-bottom: 2px solid #E8C2CA;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  color: #735D78;
}
/* line 19, pages/_collectionsPickedUp.scss */
.get-data .content .table tr {
  text-align: center;
  font-weight: 400;
}
/* line 27, pages/_collectionsPickedUp.scss */
.get-data .content .table tbody tr .actions a .btn {
  margin: 5px;
}

/* line 1, pages/_newPickedUp.scss */
.get-data {
  padding: 10px;
}
/* line 3, pages/_newPickedUp.scss */
.get-data .content {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.089);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.089);
  height: 100%;
}
/* line 9, pages/_newPickedUp.scss */
.get-data .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
/* line 14, pages/_newPickedUp.scss */
.get-data .content form .submit {
  text-align: center;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 85px;
  z-index: 99999999999;
  margin: 20px 10px;
}
/* line 24, pages/_newPickedUp.scss */
.get-data .content form .submit input {
  width: 50%;
  background: #735D78;
  color: #fff;
  font-weight: 400;
  font-size: larger;
  border-radius: 6px;
}

/* line 2, pages/_profile.scss */
.form-profile .content {
  height: 100%;
  padding: 20px;
}
/* line 5, pages/_profile.scss */
.form-profile .content .form-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.062);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.062);
  height: 100%;
}
/* line 11, pages/_profile.scss */
.form-profile .content .form-content .title {
  font-size: 30px;
  margin: 10px auto 40px;
  padding: 3px;
  border-bottom: 2px solid #E8C2CA;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  color: #735D78;
}
/* line 20, pages/_profile.scss */
.form-profile .content .form-content .form {
  width: 80%;
  margin: auto;
}
/* line 24, pages/_profile.scss */
.form-profile .content .form-content .informations {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 29, pages/_profile.scss */
.form-profile .content .form-content .informations .info {
  width: 45%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px;
}
/* line 33, pages/_profile.scss */
.form-profile .content .form-content .informations .info .content {
  background: #f9f9f9;
  border: 2px dashed #735d7857;
  height: 65px;
  text-transform: uppercase;
  color: #0000006b;
  font-weight: 600;
}
/* line 43, pages/_profile.scss */
.form-profile .content .form-content .edit {
  text-transform: uppercase;
  width: 125px;
  background: #735D78;
  border: 2px solid #E8C2CA;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: 10px 30px;
}
/* line 52, pages/_profile.scss */
.form-profile .content .form-content .edit:hover {
  background: #fff;
  color: #735D78;
}

/* line 1, pages/_contact_us.scss */
.repport {
  width: 100%;
  padding: 20px;
}
/* line 4, pages/_contact_us.scss */
.repport .title {
  padding: 5px;
  margin: 5px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #735D78;
  text-transform: uppercase;
  border-bottom: 2px solid #D1B3C4;
}
/* line 12, pages/_contact_us.scss */
.repport .btn {
  text-transform: uppercase;
  width: 125px;
  background: #735D78;
  border: 2px solid #D1B3C4 !important;
  outline: none;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 21, pages/_contact_us.scss */
.repport .btn:hover {
  background: #fff;
  color: #735D78;
  outline: none;
}

/* line 1, pages/_tracking.scss */
.page-tracking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 5, pages/_tracking.scss */
.page-tracking .tracking-content {
  background-color: #fff;
  width: 55%;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 0 #00000025;
          box-shadow: 0 0 15px 0 #00000025;
}
/* line 11, pages/_tracking.scss */
.page-tracking .tracking-content .top-tracking {
  width: 100%;
}
/* line 13, pages/_tracking.scss */
.page-tracking .tracking-content .top-tracking h5 {
  text-transform: capitalize;
  color: #3f3f3f !important;
  font-size: 16px;
  font-weight: 600;
}
/* line 19, pages/_tracking.scss */
.page-tracking .tracking-content .top-tracking p {
  font-weight: 400;
  margin: 0;
  font-size: 15px;
}
/* line 24, pages/_tracking.scss */
.page-tracking .tracking-content .top-tracking .info-tracking {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
}
/* line 31, pages/_tracking.scss */
.page-tracking .tracking-content .top-tracking .price-tracking {
  width: 100%;
  margin: 10px auto;
}
/* line 34, pages/_tracking.scss */
.page-tracking .tracking-content .top-tracking .price-tracking .withdraw {
  margin: 10px auto;
}
/* line 37, pages/_tracking.scss */
.page-tracking .tracking-content .top-tracking .price-tracking .price-package, .page-tracking .tracking-content .top-tracking .price-tracking .fee-tracking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 44, pages/_tracking.scss */
.page-tracking .tracking-content .bottom-tracking {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100px;
  text-transform: capitalize;
}
/* line 52, pages/_tracking.scss */
.page-tracking .tracking-content .bottom-tracking .track {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
}
/* line 57, pages/_tracking.scss */
.page-tracking .tracking-content .bottom-tracking .track::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ec3a3a;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-check2" viewBox="0 0 16 16"><path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/></svg>');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  top: -40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
/* line 74, pages/_tracking.scss */
.page-tracking .tracking-content .bottom-tracking .track:nth-child(2)::after, .page-tracking .tracking-content .bottom-tracking .track:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 128px;
  border: 2px solid #ec3a3a;
  height: 0;
  right: 50px;
  top: -28px;
}
/* line 84, pages/_tracking.scss */
.page-tracking .tracking-content .bottom-tracking .track.True::after {
  border: 2px solid #137a1b;
}
/* line 87, pages/_tracking.scss */
.page-tracking .tracking-content .bottom-tracking .track.True::before {
  background-color: #137a1b;
}

/* line 1, pop-up/_pop-up-message.scss */
.pop-up-message.activate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 5, pop-up/_pop-up-message.scss */
.pop-up-message.disable {
  display: none;
}

/* line 9, pop-up/_pop-up-message.scss */
.pop-up-message {
  position: fixed !important;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #0000005e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 20, pop-up/_pop-up-message.scss */
.pop-up-message .content-message {
  height: 350px;
  width: 600px;
  -webkit-box-shadow: 0 0 15px 0 #00000025;
          box-shadow: 0 0 15px 0 #00000025;
  border-radius: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center !important;
  background-size: 945px !important;
}
/* line 32, pop-up/_pop-up-message.scss */
.pop-up-message .content-message .top-content {
  width: 80%;
  margin: 0 auto;
}
/* line 35, pop-up/_pop-up-message.scss */
.pop-up-message .content-message .top-content h1, .pop-up-message .content-message .top-content p {
  text-align: center;
}
/* line 38, pop-up/_pop-up-message.scss */
.pop-up-message .content-message .top-content h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 200;
}
/* line 45, pop-up/_pop-up-message.scss */
.pop-up-message .content-message .bottom-content button.close {
  margin-top: 30px;
  padding: 7px 30px;
  border: none;
  outline: none;
}

/* line 1, pages/_boxPackages.scss */
.box-content {
  padding: 40px;
  border: 3px solid #735d7824;
}
/* line 2, pages/_boxPackages.scss */
.box-content p {
  margin: 0 !important;
}
/* line 7, pages/_boxPackages.scss */
.box-content .package_boc {
  background: #ededed;
  height: 80px;
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-shadow: 0 0 15px 0 #00000014;
          box-shadow: 0 0 15px 0 #00000014;
}
/* line 16, pages/_boxPackages.scss */
.box-content .package_boc .info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 80%;
  border-right: 1px solid #000;
}

@media screen and (min-width: 2560px) {
  /* line 6, All-devices/_media.scss */
  .dashboard .content .cards {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  /* line 9, All-devices/_media.scss */
  .dashboard .content .graphbox {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /* line 11, All-devices/_media.scss */
  .dashboard .content .graphbox .box {
    width: 40% !important;
  }
}
@media screen and (max-width: 1024px) {
  /* line 21, All-devices/_media.scss */
  .webpage > .container {
    display: block !important;
  }
  /* line 23, All-devices/_media.scss */
  .webpage > .container .nav-bar {
    display: none !important;
  }
  /* line 28, All-devices/_media.scss */
  .webpage > .container .navbar .container-fluid .btn-nav {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  /* line 32, All-devices/_media.scss */
  .webpage > .container .navbar .container-fluid .btn-nav .icon-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  /* line 37, All-devices/_media.scss */
  .webpage > .container .navbar .container-fluid .btn-nav .icon-navbar span {
    border: 1px solid #735d78;
    margin: 3px;
    border-radius: 5px;
    width: 40px;
  }
  /* line 43, All-devices/_media.scss */
  .webpage > .container .navbar .container-fluid .btn-nav .icon-navbar span.center {
    width: 30px;
  }
  /* line 50, All-devices/_media.scss */
  .webpage > .container .nav-bar.active {
    display: block !important;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 270px;
    z-index: 1000;
  }
  /* line 59, All-devices/_media.scss */
  .webpage > .container .nav-bar.active .content .nav-close {
    width: 100%;
    position: relative;
    display: block !important;
  }
  /* line 63, All-devices/_media.scss */
  .webpage > .container .nav-bar.active .content .nav-close i {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 45px;
    color: #ffff;
    cursor: pointer;
  }
  /* line 77, All-devices/_media.scss */
  .webpage > .container .dashboard .content .cards .card {
    width: 45% !important;
  }
  /* line 81, All-devices/_media.scss */
  .webpage > .container .dashboard .content .cards .card .content .pric h3 {
    font-size: 40px !important;
  }
  /* line 84, All-devices/_media.scss */
  .webpage > .container .dashboard .content .cards .card .content .pric p {
    font-size: 16px !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  /* line 89, All-devices/_media.scss */
  .webpage > .container .dashboard .content .cards .card .content i {
    font-size: 65px !important;
  }
  /* line 95, All-devices/_media.scss */
  .webpage > .container .dashboard .content .graphbox {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  /* line 97, All-devices/_media.scss */
  .webpage > .container .dashboard .content .graphbox .box {
    width: 45% !important;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  /* line 109, All-devices/_media.scss */
  .webpage > .container {
    display: block !important;
  }
  /* line 111, All-devices/_media.scss */
  .webpage > .container .nav-bar {
    display: none !important;
  }
  /* line 117, All-devices/_media.scss */
  .webpage > .container .dashboard .content .cards .card {
    width: 45% !important;
  }
  /* line 121, All-devices/_media.scss */
  .webpage > .container .dashboard .content .cards .card .content .pric h3 {
    font-size: 40px !important;
  }
  /* line 124, All-devices/_media.scss */
  .webpage > .container .dashboard .content .cards .card .content .pric p {
    font-size: 16px !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  /* line 129, All-devices/_media.scss */
  .webpage > .container .dashboard .content .cards .card .content i {
    font-size: 65px !important;
  }
  /* line 135, All-devices/_media.scss */
  .webpage > .container .dashboard .content .graphbox {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  /* line 137, All-devices/_media.scss */
  .webpage > .container .dashboard .content .graphbox .box {
    width: 90% !important;
  }
  /* line 142, All-devices/_media.scss */
  .webpage > .container .dashboard table {
    width: 1000px;
  }
  /* line 149, All-devices/_media.scss */
  .webpage > .container .tracking-content .filter form .col-6 {
    width: 80%;
  }
  /* line 155, All-devices/_media.scss */
  .webpage > .container .tracking-content .page-tracking .tracking-content {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  /* line 167, All-devices/_media.scss */
  .webpage > .container {
    display: block !important;
  }
  /* line 169, All-devices/_media.scss */
  .webpage > .container .nav-bar {
    display: none !important;
  }
  /* line 174, All-devices/_media.scss */
  .webpage > .container .dashboard .content .box {
    width: 90% !important;
  }
  /* line 177, All-devices/_media.scss */
  .webpage > .container .dashboard .content table {
    width: 1000px;
  }
  /* line 183, All-devices/_media.scss */
  .webpage > .container .get-data .table {
    width: 1000px;
  }
  /* line 190, All-devices/_media.scss */
  .webpage > .container .tracking-content .filter form .col-6 {
    width: 80%;
  }
  /* line 196, All-devices/_media.scss */
  .webpage > .container .tracking-content .page-tracking .tracking-content {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  /* line 207, All-devices/_media.scss */
  .webpage > .container .dashboard {
    margin: 10px 5px !important;
  }
  /* line 210, All-devices/_media.scss */
  .webpage > .container .dashboard .content .cards {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  /* line 212, All-devices/_media.scss */
  .webpage > .container .dashboard .content .cards .card {
    width: 75% !important;
  }
  /* line 216, All-devices/_media.scss */
  .webpage > .container .dashboard .content .cards .card .content .pric h3 {
    font-size: 30px !important;
  }
  /* line 219, All-devices/_media.scss */
  .webpage > .container .dashboard .content .cards .card .content .pric p {
    font-size: 12px !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  /* line 224, All-devices/_media.scss */
  .webpage > .container .dashboard .content .cards .card .content i {
    font-size: 45px !important;
  }
  /* line 230, All-devices/_media.scss */
  .webpage > .container .dashboard .content .graphbox {
    padding: 15px !important;
  }
  /* line 232, All-devices/_media.scss */
  .webpage > .container .dashboard .content .graphbox .box {
    width: 100% !important;
    padding: 10px !important;
  }
  /* line 235, All-devices/_media.scss */
  .webpage > .container .dashboard .content .graphbox .box h5 {
    font-size: 12px;
  }
  /* line 241, All-devices/_media.scss */
  .webpage > .container .dashboard table {
    width: 1000px;
  }
  /* line 245, All-devices/_media.scss */
  .webpage > .container .dashboard .parcels h1 {
    font-size: 20px !important;
  }
  /* line 254, All-devices/_media.scss */
  .webpage > .container .navbar .container-fluid .user .setting > .ul-setting {
    right: -60px !important;
  }
  /* line 263, All-devices/_media.scss */
  .webpage > .container .pack-filter form input {
    width: 100% !important;
  }
  /* line 266, All-devices/_media.scss */
  .webpage > .container .pack-filter form select {
    width: 100% !important;
  }
  /* line 272, All-devices/_media.scss */
  .webpage > .container .get-data .table {
    width: 1000px;
  }
  /* line 275, All-devices/_media.scss */
  .webpage > .container .get-data .submit {
    z-index: 99;
  }
  /* line 279, All-devices/_media.scss */
  .webpage > .container .get-data .content h4 {
    font-size: 20px !important;
  }
  /* line 282, All-devices/_media.scss */
  .webpage > .container .get-data .content .table-content {
    overflow: auto;
    width: 100%;
  }
  /* line 285, All-devices/_media.scss */
  .webpage > .container .get-data .content .table-content .table {
    width: 1000px;
  }
  /* line 287, All-devices/_media.scss */
  .webpage > .container .get-data .content .table-content .table .td-actions {
    height: auto !important;
  }
  /* line 290, All-devices/_media.scss */
  .webpage > .container .get-data .content .table-content .table .actions {
    height: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 295, All-devices/_media.scss */
  .webpage > .container .get-data .content .table-content .table .actions button {
    margin: 5px 0;
  }
  /* line 305, All-devices/_media.scss */
  .webpage > .container .form-profile .content .form-content {
    padding: 10px !important;
  }
  /* line 308, All-devices/_media.scss */
  .webpage > .container .form-profile .content .form-content .informations .info {
    width: 100% !important;
    margin: 10px 0 !important;
  }
  /* line 311, All-devices/_media.scss */
  .webpage > .container .form-profile .content .form-content .informations .info .content {
    font-size: 14px !important;
  }
  /* line 322, All-devices/_media.scss */
  .webpage > .container .tracking-content .filter form .col-6 {
    width: 98%;
  }
  /* line 328, All-devices/_media.scss */
  .webpage > .container .tracking-content .page-tracking .tracking-content {
    width: 98%;
    padding: 8px;
  }
  /* line 332, All-devices/_media.scss */
  .webpage > .container .tracking-content .page-tracking .tracking-content .top-tracking h5 {
    font-size: 14px;
  }
  /* line 335, All-devices/_media.scss */
  .webpage > .container .tracking-content .page-tracking .tracking-content .top-tracking p {
    font-size: 13px;
  }
  /* line 339, All-devices/_media.scss */
  .webpage > .container .tracking-content .page-tracking .tracking-content .bottom-tracking {
    font-size: 14px;
  }
  /* line 341, All-devices/_media.scss */
  .webpage > .container .tracking-content .page-tracking .tracking-content .bottom-tracking .track:nth-child(2)::after,
  .webpage > .container .tracking-content .page-tracking .tracking-content .bottom-tracking .track:nth-child(3)::after {
    width: 70px;
  }
}
@media screen and (max-width: 375px) {
  /* line 359, All-devices/_media.scss */
  .webpage > .container .navbar .container-fluid .user .setting > .ul-setting {
    width: 300px !important;
    right: -66px !important;
  }
  /* line 368, All-devices/_media.scss */
  .webpage > .container .page-tracking .tracking-content {
    width: 98%;
    padding: 8px;
  }
  /* line 372, All-devices/_media.scss */
  .webpage > .container .page-tracking .tracking-content .top-tracking h5 {
    font-size: 14px;
  }
  /* line 375, All-devices/_media.scss */
  .webpage > .container .page-tracking .tracking-content .top-tracking p {
    font-size: 13px;
  }
  /* line 379, All-devices/_media.scss */
  .webpage > .container .page-tracking .tracking-content .bottom-tracking {
    font-size: 14px;
  }
  /* line 381, All-devices/_media.scss */
  .webpage > .container .page-tracking .tracking-content .bottom-tracking .track:nth-child(2)::after,
  .webpage > .container .page-tracking .tracking-content .bottom-tracking .track:nth-child(3)::after {
    width: 60px !important;
  }
}
@-webkit-keyframes setting {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes setting {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*# sourceMappingURL=styles.css.6be90d83c883.map */