{% load static %}
<header>
    <div class="nav-bar">
        <div class="logo">
            <a href="/"><h1>logo</h1></a>
        </div>
        <ul class="d-flex">
            {% if "admins-delivery" in request.user.groups.all|safeseq %}
            <li class="m-lg-2 p-2 text-capitalize"><a href="{% url 'add_delivery' request.user.id%}">add</a></li>
            <li class="m-lg-2 p-2 text-capitalize"><a href="{% url 'add_packages' request.user.id%}">set packages</a></li>
            <li class="m-lg-2 p-2 text-capitalize"><a href=" {% url 'logout' %} ">Logout</a></li>
            {% else %}
            {% comment %} <li class="m-lg-2 p-2 text-capitalize"><a href="{% url 'add_packages' %}">add</a></li> {% endcomment %}
            <li class="m-lg-2 me-3 p-2 text-capitalize" style="cursor:pointer">
                <i class='bx bxs-bell' style="font-size:20px !important; position:relative; color:#735d78; "><span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                    </span>
                </i>
                <ul class="bg-danger w-20 disactive">
                    <li><a href="#">

                    </a></li>
                </ul>
            </li>
            <li class="m-lg-2 p-2 text-capitalize"><a href=" {% url 'logout' %} ">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</header>