{% extends 'dashboard-admin/dashboard.html' %}
{% load static %}

{% block content %}
    <div class="block container text-center mt-5 ">
        <div class="row justify-content-between mb-5">
            <div class="show-data refund col-12 mb-3">
                <div class="top">
                    <h1>remboursements</h1>
                    <small class="ms-2 " style="color: #efcefa;">{{refunds.count}}</small>
                </div>
                <div class="body">
                    <div class="filter">
                        <form action="" method="GET">
                            <input oninput="searchId(idSearch='search-refund', idClass='id-refund')" type="search" name="search-refund" id="search-refund" placeholder="search with id">
                        </form>
                    </div>
                    <div class="content">
                        <div class="refund">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    {% for refund in refunds %}
                                    <tr>
                                        <th scope="row" data="{{refund.refund_id}}" class="id id-refund" id="ind">{{refund.refund_id}}</th>
                                        <td>{{refund.refund_price}}</td>
                                        <td>
                                            <a href="{% url 'view_refund' refund.user.id refund.refund_id %}"><i class='bx bx-show'></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}