{% extends 'dashbord/dashbord.html' %}
{% load static %}


<main>
    {% block content %}
    {% comment %} {% include 'dashbord/parts/navtop.html' %} {% endcomment %}
    <div class="form-package add-new-box">
        {% comment %} error forms {% endcomment %}
        {% if form.errors %}
            {% for error in form.errors  %}
                {% if error == "price" %}
                    <div class="alert alert-danger" role="alert">
                        <div class="{{ error }}"> <span style="font-weight: 500;">PRIX</span> Assurez-vous qu'il n'y a pas plus de 6 chiffres au total.</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% comment %} message if create a new package {% endcomment %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="alert alert-success" role="alert">
                        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</div>
                    </div>
                {% elif message.tags == "error" %}
                    <div class="alert alert-danger" role="alert">
                        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if "edite" in request.build_absolute_uri %}
            <h4 class="title" >Edite Colis</h4>
        {% else %}
            <h4 class="title" >Créer Un Nouveau Box</h4>
        {% endif %}

        <form method="POST" actions="" class="row g-3">
            {% csrf_token %}
            <div class="col-md-6 package">
                <label>Nomber de Colis : </label></br>
                <input type="number" min="0" class="form-control" id="inputEmail4" name="number_packages">
            </div>
            <div class="col-md-6 package">
                <label>Type : </label></br>
                <select class="form-select" aria-label="" name="type_box">
                    <option class="selected" selected >Choisissez le type d'article...</option>
                    <option value="Liquide">Liquide</option>
                    <option value="Solide">Solide</option>
                </select>
            </div>
            <div class="col-12 package">
                <button type="submit" class="btn btn-primary w-100">Ajouter</button>
            </div>
        </form>
    </div>
    {% endblock content %}
</main>