{% extends 'dashbord/dashbord.html' %}
{% load static %}


<main>
    {% block content %}
    {% comment %} {% include 'dashbord/parts/navtop.html' %} {% endcomment %}
    <div class="get-data">
        <div class="content">
            <h4>les bons de boîte à colis</h4>
            <div class="box-content">
                <div class="add-new-box mb-5" style="text-align: right;">
                    <div class="add-box">
                        <a href="{% url 'add_new_box' %}"><button type="button" class="btn btn-outline-success">Ajouter une nouvelle boîte</button></a>
                    </div>
                </div>
                <div class="box-filter mb-3">
                    <div class="col-12">
                        <form action="" method="GET">
                            <input oninput="searchUser(idSearch='search-box', idClass='id-box')" type="text" class="form-control" id="search-box" placeholder="Entrez le ID du Boîte">
                        </form>
                    </div>
                </div>
                <div class="box">
                    {% for box in show_box %}
                        <div class="package_box mb-4" >
                            <div class="info id-box" id="id-box" data="{{box.id_box}}">
                                <p class="id">{{box.id_box}}</p>
                            </div>
                            <div class="info" id="total-packages-box">
                                <p>{{box.number_packages}}</p>
                            </div>
                            <div class="info" id="type-box">
                                <p>{{box.type_box}}</p>
                            </div>
                            <div class="info" id="etat-box">
                                {% if box.etat == "En coure ..." %}
                                <span class="badge text-bg-secondary">{{box.etat}}</span>
                                {% else %}
                                <span class="badge text-bg-success">{{box.etat}}</span>
                                {% endif %}
                            </div>
                            <div class="info fin" id="actions-box">
                                <div class="actions">
                                    {% if box.etat == "Valider" %}
                                    <a href="{% url 'pdf_box' box.id_box %}">
                                        <i class='bx bx-download'></i>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'pdf_box' box.id_box %}">
                                        <i class='bx bx-download'></i>
                                    </a>
                                    <a href="{% url 'delete_box' box.id_box %}" style="color: red;">
                                        <i class='bx bx-trash' ></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
</main>


