* {
    margin:0 !important;
    padding:0;
    box-sizing: border-box;
}

@import "../dashboard/varibles/varible";

body {
    background: #f5f5f5 !important;
}

a {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #735d78;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #efcefa; 
}

.btn {
    text-transform: uppercase;
    background: #735D78 !important;
    border: 2px solid #D1B3C4 !important;
    color: #fff !important;
    font-weight: 700 !important;
    transition: all .3s ease-in-out !important;
    font-size: 14px !important;
    padding: 5px;
    &:hover {
        background: #fff !important;
        color: #735D78 !important;
    }
}

.webpage {
    width: 100%;
    height: 100%;
    .container-page {
        max-width: 100% !important;
        padding: 0 !important;
        display: flex;
        .nav-bar {
            height: 100vh;
            width: 20%;
            background-color: #735d78;
            position: sticky;
            top: 0;
            .content {
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                .nav-close {
                    display: none;
                }
                i {
                    transition: all .5s ease;
                }
                .btn-nav {
                    padding: 10px;
                    .icon-navbar {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        cursor: pointer;
                        margin: 0 0 0 auto;
                        span {
                            border: 1px solid $whiteColor;
                            margin: 3px;
                        }
                    }
                }
                .logo {
                    padding: 20px;
                    .title {
                        font-size: 23px;
                        font-weight: 700;
                        color: #ffffff;
                        height: 50px;
                        small {
                            font-size: 15px;
                            top: -19px;
                            position: relative;
                            color: #D1B3C4;
                        }
                    }
                }
                nav {
                    padding: 10px;
                    .parent_ul {
                        padding: 0;
                        li {
                            list-style: none;
                            margin: 20px 0 !important;
                            padding: 5px;
                            text-transform: capitalize !important;
                            a {
                                color: $whiteColor;
                                text-decoration: none !important;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                text-transform: capitalize;
                                svg {
                                    width: 30px;
                                    height: 30px;
                                }
                                span {
                                    display: flex;
                                    justify-content: space-between;
                                    flex-direction: row;
                                    align-items: center;
                                    width: 100%;
                                    p {
                                        margin: 0;
                                        margin-left: 10px !important;
                                        text-transform: capitalize;
                                    }
                                }
                            }
                            ul {
                                display: none;
                                padding: 0 6px;
                                font-size: 15px;
                                transition: all .5s ease;
                                li {
                                    a {
                                        color: rgba(255, 255, 255, 0.59);
                                        transition: all .5s ease;
                                        &:hover {
                                            color: rgba(255, 255, 255, 0.753);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .navbar {
            min-height: 55px;
            background-color: white !important;
        }
        main {
            width: calc(100% - 20%);
            .dashboard {
                > .content {
                    i {
                        font-size: 28px;
                    }
                    margin: 0 auto !important;
                    padding: 10px;
                    width: 98%;
                    margin-bottom: 30px !important;
                    .cards {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        margin: 80px auto !important;
                        .card {
                            border: none !important;
                            width: 250px;
                            height: 150px;
                            padding: 5px !important;
                            transition: all .3s ease-out;
                            box-shadow: 0 0 15px #0000000d;
                            margin: 5px !important;

                            .content {
                                margin: 10px !important;
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                width: 100%;
                                height: 100%;
                                .pric {
                                    h3 {
                                        font-size: 30px;
                                        margin: 10px 0;
                                        color: #735d78;
                                    }
                                    p {
                                        margin: 10px 0;
                                        font-size: 12px;
                                        width: 110px;
                                        text-transform: uppercase;
                                    }
                                }
                                i {
                                    font-size: 50px;
                                    color: #735d78;
                                }
                            }
                            &:hover {
                                background-color: #735d78;
                            }
                            &:hover .content .pric h3,
                            &:hover .content .pric p {
                                color: #fff;
                            }
                            &:hover .content i {
                                color: #efcefa;
                            }
                        }
                    }
                    .block {
                        width: 100%;
                        height: auto;
                        .row {
                            .show-data {
                                box-shadow: 0 0 18px 0 #0000000d;
                                max-height: 500px;
                                background-color: #fff;
                                border-radius: 5px;
                                padding: 0;
                                overflow: auto;
                                position: relative;
                                .top {
                                    width: 100%;
                                    padding: 15px;
                                    height: 50px;
                                    background-color: #826c7f;
                                    position: sticky;
                                    top: 0;
                                    display: flex;
                                    align-items: center;
                                    z-index: 55;
                                    h1 {
                                        color: #fff;
                                        font-size: 20px;
                                        text-transform: uppercase;
                                    }
                                }
                                .body {
                                    .filter {
                                        padding: 10px;
                                        height: 80px;
                                        width: 100%;
                                        position: sticky;
                                        top: 50px;
                                        background-color: #fff;
                                        box-shadow: 0 0 15px 0 #0000000d;
                                        z-index: 9;
                                        form {
                                            display: flex;
                                            align-items: center;
                                            width: 100%;
                                            height: 100%;
                                            input {
                                                width: 50%;
                                                margin: 0 10px !important;
                                                border: 0;
                                                padding: 10px;
                                                border-radius: 5px;
                                                background-color: #f5f5f5ef;
                                                outline: none;
                                                border: 1px solid #a88fac;
                                            }
                                            .submit {
                                                padding: 10px 15px;
                                                border: 0;
                                                outline: none;
                                                border-radius: 5px;
                                                text-transform: uppercase;
                                                color: #735d78;
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                    .content {
                                        margin: 10px auto !important;
                                        width: 95%;
                                        background: #f9f9f9;
                                        a {
                                            height: 100%;
                                            width: 100%;
                                            text-decoration: none;
                                            color: #735d78;
                                        }
                                        .user {
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            background-color: #fdfdfdee;
                                            padding: 10px;
                                            border-radius: 10px;
                                            box-shadow: 0 0 15px 0 #0000000d;
                                            margin: 20px 0 !important;
                                            transition: all .3s ease;
                                            .info {
                                                display: flex;
                                                align-items: center;
                                                .logo {
                                                    border-radius: 50%;
                                                    overflow: hidden;
                                                    width: 40px;
                                                    height: 40px;
                                                    border: 2px solid #735d78;
                                                    img {
                                                        width: 100%;
                                                        height: 100%;
                                                        object-fit: cover;  
                                                    }
                                                }
                                                .username {
                                                    margin-left: 19px !important;
                                                    text-align: left;
                                                    .name {
                                                        font-size: 18px;
                                                        text-transform: uppercase;
                                                    }
                                                    .company-name {
                                                        text-transform: uppercase;
                                                        font-size: 12px;
                                                        color: #858585;
                                                    }
                                                }
                                            }
                                            .actions {
                                                // cursor: pointer;
                                                i {
                                                    font-size: 25px;
                                                    color: #735d78;
                                                    filter: drop-shadow(0px 0px 3px rgb(184, 184, 184));
                                                }
                                            }
                                            &:hover {
                                                background-color: #735d78;
                                                .info {
                                                    .logo {
                                                        border-color: #fff;
                                                    }
                                                    .username {
                                                        .name {
                                                            color: #ffffff;
                                                        }
                                                        .company-name {
                                                            color: #efcefa;
                                                        }
                                                    }
                                                }
                                                .actions {
                                                    i {
                                                        color: #fff;
                                                    }
                                                }
                                            }
                                        }
                                        .message {
                                            padding: 5px;
                                            background: #fff;
                                            border-radius: 10px;
                                            box-shadow: 0 0 15px 0 #0000000d;
                                            margin: 20px 0 !important;
                                            .head-email {
                                                padding: 5px;
                                                text-align: left;
                                                text-transform: uppercase;
                                                font-weight: 600;
                                                font-size: 15px;
                                                .accordion {
                                                    --bs-accordion-btn-focus-box-shadow : none;
                                                    .accordion-button {
                                                        text-transform: uppercase;
                                                        &:not(.collapsed) {
                                                            .id {
                                                                color: #fff !important;
                                                            }
                                                            background-color: #735d78;
                                                            .date-message {
                                                                color: #a88fac !important;
                                                            }
                                                        }
                                                        &:focus {
                                                            border-color: #a88fac;
                                                        }
                                                    }
                                                    .accordion-collapse {
                                                        .subject {
                                                            p {
                                                                border-bottom: 1px solid #735d78;
                                                                text-transform: capitalize;
                                                                font-weight: 400;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// all devices

@import "./devices/devices"