{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.apidelv.com/libs/awesome-functions/awesome-functions.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" ></script>

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<style type="text/css">
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		font-family: sans-serif;
	}
    td {
        font-size: 13px;
    }
    th {
        font-size: 15px;
    }
    small {
        text-transform: uppercase;
        color: #909090;
        font-weight: 600;
        font-size: 12px;
    }
    p {
        margin: 0;
        margin-left: 8px;
        font-size: 15px;
    }
    #pickedup {
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    #pickedup > .content {
        margin: 10px;
        width: 845px;
        height: 842px;
        margin: 10 auto;
    }
    .logo {
        display: flex;
        justify-content: center;
        margin: 15px 0;
    }
    .logo img {
        width: 200px;
    }
    .title {
        margin: 10px 0;
        border-top: 2px solid #bababa;
        border-bottom: 2px solid #bababa;
        padding: 5px;
        text-align: center;
    }
    .title h1 {
        text-transform: uppercase;
    }
    

    .information {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0;
    }

    .information .info-customer .col {
        display: flex;
        align-items: center;
    }
    
    .info-comapny p {
        margin: 0;
    }
    .signature {
        margin: 50px 0;
    }
    .print {
		padding: 30px;
		width: 100%;
		text-align: center;
	}
	button {
		margin: 20px;
		padding: 10px 15px;
		font-size: 16px;
	}
</style>

<div id="pickedup">
    <div class="content" id="content">
        <div class="header">
            <div class="content">
                <div class="logo">
                    <img src="{% static 'img/logo/logo.png' %}"/>
                </div>
                <div class="title">
                    <h1>bon de ramassage</h1>
                </div>
                <div class="information">
                    <div class="info-customer">
                        <div class="col id-bon">
                            <small>id bon</small>
                            {% for id in dataPackages %}
                            <p>{{id.received_id}}</p>
                            {% endfor %}
                        </div>  
                        <div class="col client">
                            <small>client</small>
                            <p><span style='text-transform: capitalize'>{{profile.first_name}}{{profile.last_name}} </span>/ <span style="text-transform: uppercase; font-weight: 600;">{{profile.business_name}}</span></p>
                        </div>  
                        <div class="col address">
                            <small>address</small>
                            <p style='text-transform: capitalize'>{{profile.address}}</p>
                        </div>  
                        <div class="col tele">
                            <small>Telephone</small>
                            <p>{{profile.phone}}</p>
                        </div>  
                        <div class="col date">
                            <small>date</small>
                            {% for date in dataPackages %}
                            <p>{{date.date_received}}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="info-comapny">
                        <div class="col comapny-name">
                            <p>brigaddilevery</p>
                        </div>  
                        <div class="col address">
                            <p>jnan el afia block 23 n 9</p>
                        </div>  
                        <div class="col city">
                            <p>MARRAKECH</p>
                        </div>  
                        <div class="col tele">
                            <p>(+212)0698430174</p>
                        </div>  
                        <div class="col date">
                            <p>https://brigaddelevery.ma</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="factur-pickedup body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Tél</th>
                        <th scope="col">Ville</th>
                        <th scope="col">Article</th>
                        <th scope="col">Date</th>
                        <th scope="col">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in dataPackages %}
                        {% for pack in item.packages.all %}
                            <tr class="invoice">
                                <td class="id">{{pack.id_package}}</td>
                                <td>{{pack.address}}</td>
                                <td>{{pack.phone_number}}</td>
                                <td>{{pack.city}}</td>
                                <td>{{pack.article_name}}</td>
                                <td>{{pack.date_created}}</td>
                                <td>{{pack.price}}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    <tr>
                        <td style="text-align: right;" colspan="6">TOTAL </td>
                        <td style="font-weight: 600;">{{total}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="signature adm">
            <p>signature administration: </p>
        </div>
        <div class="signature client">
            <p>signature client: </p>
        </div>
    </div>
    <div class="print">
        <button class="download">Télecharger</button>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function($) 
	{ 

		$(document).on('click', '.download', function(event) 
		{
			event.preventDefault();
			
			var element = document.getElementById('content'); 
			// element.style.width = '100%';

			//more custom settings
			var opt = 
			{
				margin:       0.35,
				filename:     'pageContent_'+js.AutoCode()+'.pdf',
				image:        { type: 'jpeg', quality: 1 },
				html2canvas:  { scale: 2 },
				jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait',precision: '12' }
			};

			// New Promise-based usage:
			html2pdf().set(opt).from(element).save();

		});

	});
</script>
<script type="text/javascript">
    let idPackage = document.querySelectorAll(".id");
    for (let i = 0; i<idPackage.length; i++){
        let orId = idPackage[i].textContent
        idPackage[i].onclick = () => {
            orId.select;
            navigator.clipboard.writeText(orId);
            alert("Copiez ensuite le ID avec succès" + orId)
        }
        let newIdPackage = idPackage[i].textContent.slice(0, 15);
        idPackage[i].textContent = newIdPackage + "...";
        idPackage[i].style.cursor = "pointer";
    }
</script>

