{% extends 'dashbord/dashbord.html' %}
{% load static %}


{% block content %}
<main>
    {% comment %} {% include 'dashbord/parts/navtop.html' %} {% endcomment %}
    <div class="get-data collections invoices">
        <div class="content">
            <h1>Tous Les Colis</h1>
            <p>Total des résultats trouvés: <span style="color:green">{{count_packages}}</span></p>
            <div class="overflow-auto">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Etat</th>
                            <th scope="col">Article</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Tél</th>
                            <th scope="col">Ville</th>
                            <th scope="col">client</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in parcel_inv_packs %}
                            {% for pack in item.packages.all %}
                                <tr class="invoice">
                                    <td class="id">{{pack.id_package}}</td>
                                    {% if pack.etat == "Ramassée"%}
                                        <td><span class="badge text-bg-warning">{{pack.etat}}</span></td>
                                        {% elif pack.etat == "Annulée"%}
                                        <td><span class="badge text-bg-danger">{{pack.etat}}</span></td>
                                        {% elif pack.etat == "Livrée"%}
                                        <td><span class="badge text-bg-success">{{pack.etat}}</span></td>
                                        {% elif pack.etat == "Pas de réponse"%}
                                        <td><span class="badge text-bg-info">{{pack.etat}}</span></td>
                                        {% else %}
                                        <td><span class="badge text-bg-dark">{{pack.etat}}</span></td>
                                    {% endif %}
                                    <td>{{pack.article_name}}</td>
                                    <td>{{pack.price}}</td>
                                    <td>{{pack.phone_number}}</td>
                                    <td>{{pack.city}}</td>
                                    <td>{{pack.client_name}}</td>
                                    <td>{{pack.address}}</td>
                                    <td>{{pack.date_created}}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock content %}

