// // Light Page
// $lightColor: #3f3d56;
// $lightBgNav: #fff;
// $lightBg: rgb(245, 245, 245);
// $decColor: #f8a726;

// // dark nav bar
// $color : #fff;
// $background : #3f3d56;

// // shadow
// $shadow: 0 0 20px 0 rgba(0, 0, 0, 0.082);

// // Dartk Page
// $darktColor: #fff;
// $darktBg: rgb(51, 51, 51);

// ##########################################

// Light Page
$lightColor: #735D78;
$lightBgNav: #fff;
$lightBg: rgb(245, 245, 245);
$decColor: #E8C2CA;

// dark nav bar
$color : #D1B3C4;
$background : #735D78;
$whiteColor : #fff;

// shadow
$shadow: 0 0 20px 0 rgba(0, 0, 0, 0.082);

// Dartk Page
$darktColor: #fff;
$darktBg: rgb(51, 51, 51);
