{% extends 'dashbord/dashbord.html' %}
{% load static %}

{% block content %}
<div class="contact-us repport">
    <div class="content">
        <div class="contact-us">
            <div class="title">
                <h4>Contact Us</h4>
            </div>
            <div class="form contact p-3">
                <form class="row col-md-9 g-3 m-auto justify-content-center" method="POST">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Subject</label>
                        <input type="text" name="subject" class="form-control" id="inputPassword4" placeholder="Subject">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Message</label>
                        <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">submit</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}