{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% load i18n %}


<main>
    {% block content %}
    {% comment %} {% include 'dashbord/parts/navtop.html' %} {% endcomment %}
    <div class="get-data">
        <div class="content">
            <h4>{% trans "les bons de boîte à colis" %}</h4>
            <div class="box-content">
                <div class="add-new-box mb-5" style="text-align: right;">
                    <div class="add-box">
                        {% if profileImage %}
                            <a href="{% url 'add_new_box' %}"><button type="button" class="btn btn-outline-success">{% trans "Ajouter une nouvelle boîte" %}</button></a>
                        {% else %}
                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">{% trans "Ajouter une nouvelle boîte" %}</button>
                        {% endif %}
                    </div>
                </div>
                <div class="box-filter mb-3">
                    <div class="col-12">
                        <form action="" method="GET">
                            <input oninput="searchUser(idSearch='search-box', idClass='id-box')" type="text" class="form-control" id="search-box" placeholder="{% trans 'Entrez le ID du Boîte' %}">
                        </form>
                    </div>
                </div>
                <div class="box">
                    {% for box in show_box %}
                        <div class="package_box mb-4" >
                            <div class="info id-box" id="id-box" data="{{box.id_box}}">
                                <p class="id">{{box.id_box}}</p>
                            </div>
                            <div class="info" id="total-packages-box">
                                <p>{{box.number_packages}}</p>
                            </div>
                            <div class="info" id="type-box">
                                <p>{{box.type_box}}</p>
                            </div>
                            <div class="info" id="etat-box">
                                {% if box.etat == "Running..." %}
                                <span class="badge text-bg-secondary">{{box.etat}}</span>
                                {% else %}
                                <span class="badge text-bg-success">{{box.etat}}</span>
                                {% endif %}
                            </div>
                            <div class="info fin" id="actions-box">
                                <div class="actions">
                                    {% if box.etat == "Validate" %}
                                    <a href="{% url 'pdf_box' box.id_box %}">
                                        <i class='bx bx-download'></i>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'pdf_box' box.id_box %}">
                                        <i class='bx bx-download'></i>
                                    </a>
                                    <a href="{% url 'delete_box' box.id_box %}" style="color: red;">
                                        <i class='bx bx-trash' ></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% comment %} popup message {% endcomment %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title d-flex align-items-center" id="exampleModalLabel">Alerte
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff0000" class="bi bi-exclamation-triangle ms-2" viewBox="0 0 16 16">
                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                  </svg>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% trans "Veuillez compléter toutes vos informations" %} ...
            </div>
            <div class="modal-footer">
              {% comment %} <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button> {% endcomment %}
              <a href="{% url 'profile' %}"><button type="button" class="btn btn-outline-success">{% trans "Mes informations" %}</button></a>
            </div>
          </div>
        </div>
      </div>

    {% endblock content %}
</main>


